In [3]:
import json
import requests
import numpy as np
import pandas as pd
from sodapy import Socrata
import matplotlib.pyplot as plt
from scipy.stats import linregress

In [17]:
ethnicity_df = pd.read_csv("../jennie-folder/demographic_ethnicity.csv")
ethnicity_df.head()

,State,White Fatality Rate (%),White Population %,Black Fatality Rate (%),Black/African American Population %,AIAN Fatality Rate (%),AIAN Population %,Asian Fatality Rate (%),Asian Population %,NHPI Fatality Rate (%),NHPI Population %,Multiracial Fatality Rate (%),Multiracial Population %,Hispanic Fatality Rate (%),Hispanic Population %
0,AL,0.129091,66.561433,0.092776,26.404481,0.000000,0.465537,0.068162,1.323255,0.000000,0.000000,0.000000,0.857137,0.029146,4.388157
1,AK,0.023137,64.128095,0.000000,3.078420,0.030521,15.772827,0.046572,5.962452,0.036877,0.000000,0.007823,3.884917,0.014060,7.173289
2,AZ,0.095577,62.720366,0.062148,3.781046,0.110077,3.655030,0.097823,2.658950,0.000000,0.155849,0.000000,1.612062,0.061012,25.416697
3,AR,0.070212,73.893365,0.046715,14.921160,0.122414,0.549519,0.044369,1.470768,0.029629,0.409490,0.038720,1.352029,0.016175,7.403668
4,CA,0.132411,48.239420,0.116991,4.687652,0.122980,0.659582,0.158423,12.047932,0.077958,0.320168,0.038838,2.053565,0.067784,31.991681

In [18]:
sex_df = pd.read_csv("../jennie-folder/demographic_sex.csv")
sex_df.head()

,State,Male Population (%),Crude Male Mortality Rate (%),Female Population (%),Crude Female Mortality Rate (%)
0,AL,48.327995,0.240166,51.672005,0.195139
1,AK,52.004046,0.051783,47.995954,0.039589
2,AZ,49.746885,0.255486,50.253115,0.176418
3,AR,48.866825,0.209805,51.133175,0.185536
4,CA,49.708149,0.192665,50.291851,0.131933

In [14]:
age_df = pd.read_csv("../jennie-folder/demographic_age.csv")
age_df.head()

,State,65 Years and Over Population,65 Years and Over COVID Deaths,65 Years and Over Crude Mortality Rate (%)
0,AL,849837.0,8260.0,0.971951
1,AK,91588.0,262.0,0.286064
2,AZ,1308633.0,11765.0,0.899030
3,AR,523882.0,4838.0,0.923490
4,CA,5838115.0,46820.0,0.801971