In [571]:
import json
import requests
import numpy as np
import pandas as pd
from sodapy import Socrata
import matplotlib.pyplot as plt
from scipy.stats import linregress

In [572]:
us_state_abbrev = {
    'United States': 'USA',
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York City':"NYC",
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY',
}

In [573]:
base_url = "https://data.cdc.gov/resource/9bhg-hcku.json"
response = requests.get(base_url)
cdc_data = response.json()

In [574]:
client = Socrata("data.cdc.gov", None)

results = client.get("9bhg-hcku", limit=6000)

results_df = pd.DataFrame.from_records(results)
#results_df

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [575]:
results_df = results_df.loc[results_df['group']=="By Total"]

In [576]:
sex_df = results_df.loc[results_df['age_group']=="All Ages"]

In [577]:
del sex_df['data_as_of']
del sex_df['start_date']
del sex_df['end_date']
del sex_df['group']
del sex_df['age_group']
del sex_df['total_deaths']
del sex_df['pneumonia_deaths']
del sex_df['pneumonia_and_covid_19_deaths']
del sex_df['influenza_deaths']
del sex_df['pneumonia_influenza_or_covid']
del sex_df['footnote']

In [578]:
male_df = sex_df.loc[sex_df["sex"]=="Male"]
#male_df

In [579]:
female_df = sex_df.loc[sex_df["sex"]=="Female"]
#female_df

In [580]:
merged_df = pd.merge(male_df, female_df, on='state')

In [581]:
#merged_df

In [582]:
all_df = sex_df.loc[sex_df["sex"]=="All Sexes"]
#all_df.head()

In [583]:
new_df = pd.merge(merged_df, all_df, how='left', on='state')

In [584]:
#new_df.head()

In [585]:
del new_df['sex_x']
del new_df['sex_y']
del new_df['sex']
del new_df['year']
del new_df['year_x']
del new_df['year_y']

In [586]:
new_df = new_df.rename(columns={"state":"State", "covid_19_deaths_x":"Male COVID-19 Deaths", "covid_19_deaths_y": "Female COVID-19 Deaths", "covid_19_deaths":"All Sexes COVID-19 Deaths"})

In [587]:
new_df = new_df.loc[new_df['State']!="Puerto Rico"]

In [588]:
#new_df

In [589]:
client = Socrata("data.cdc.gov", None)

results = client.get("9bhg-hcku", limit=6000)

results_df = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [590]:
results_df = results_df.loc[results_df['group']=="By Total"]

In [591]:
age_df = results_df.loc[results_df['sex']=="All Sexes"]

In [592]:
del age_df['data_as_of']
del age_df['start_date']
del age_df['end_date']
del age_df['group']
del age_df['sex']
del age_df['total_deaths']
del age_df['pneumonia_deaths']
del age_df['pneumonia_and_covid_19_deaths']
del age_df['influenza_deaths']
del age_df['pneumonia_influenza_or_covid']
del age_df['footnote']
del age_df['year']

In [593]:
#age_df

In [594]:
age_df["age_group"].value_counts()

85 years and over    54
25-34 years          54
40-49 years          54
55-64 years          54
0-17 years           54
All Ages             54
30-39 years          54
75-84 years          54
45-54 years          54
1-4 years            54
5-14 years           54
15-24 years          54
18-29 years          54
Under 1 year         54
65-74 years          54
35-44 years          54
50-64 years          54
Name: age_group, dtype: int64

In [595]:
age_df = age_df.loc[age_df['age_group'] != "18-29 years"]
age_df = age_df.loc[age_df['age_group'] != "0-17 years"]
age_df = age_df.loc[age_df['age_group'] != "Under 1 year"]
age_df = age_df.loc[age_df['age_group'] != "30-39 years"]
age_df = age_df.loc[age_df['age_group'] != "40-49 years"]
age_df = age_df.loc[age_df['age_group'] != "50-64 years"]

In [596]:
age_df = age_df.replace({"1-4 years":"Under 5 years"})
age_df['age_group'].value_counts()

85 years and over    54
25-34 years          54
All Ages             54
55-64 years          54
35-44 years          54
65-74 years          54
45-54 years          54
15-24 years          54
5-14 years           54
Under 5 years        54
75-84 years          54
Name: age_group, dtype: int64

In [597]:
#age_df.fillna(0)

In [598]:
under5_df = age_df.loc[age_df["age_group"]=="Under 5 years"]

In [599]:
year5_14_df = age_df.loc[age_df["age_group"]=="5-14 years"]

In [600]:
year15_24_df = age_df.loc[age_df["age_group"]=="15-24 years"]

In [601]:
year25_34_df = age_df.loc[age_df["age_group"]=="25-34 years"]

In [602]:
year35_44_df = age_df.loc[age_df["age_group"]=="35-44 years"]

In [603]:
year45_54_df = age_df.loc[age_df["age_group"]=="45-54 years"]

In [604]:
year55_64_df = age_df.loc[age_df["age_group"]=="55-64 years"]

In [605]:
year65_74_df = age_df.loc[age_df["age_group"]=="65-74 years"]

In [606]:
year75_84_df = age_df.loc[age_df["age_group"]=="75-84 years"]

In [607]:
year85_df = age_df.loc[age_df["age_group"]=="85 years and over"]

In [608]:
all_ages_df = age_df.loc[age_df["age_group"]=="All Ages"]

In [609]:
merged_age = pd.merge(under5_df, year5_14_df, on='state')
merged_age = pd.merge(merged_age, year15_24_df, on ='state')
#merged_age.head()

In [610]:
merged_age = merged_age.rename(columns={
                                "covid_19_deaths_x":"Under 5 Years COVID-19 Deaths", 
                                "covid_19_deaths_y": "5-14 Years COVID-19 Deaths", 
                                "covid_19_deaths":"15-24 Years COVID-19 Deaths"
                                       })
del merged_age['age_group_x']
del merged_age['age_group_y']
del merged_age['age_group']
#merged_age.head()

In [611]:
merged_age = pd.merge(merged_age, year25_34_df, on ='state')
merged_age = pd.merge(merged_age, year35_44_df, on ='state')
merged_age = merged_age.rename(columns={
                                "covid_19_deaths_x":"25-34 Years COVID-19 Deaths", 
                                "covid_19_deaths_y": "35-44 Years COVID-19 Deaths"
                                       })
del merged_age['age_group_x']
del merged_age['age_group_y']
#merged_age.head()

In [612]:
merged_age = pd.merge(merged_age, year45_54_df, on ='state')
merged_age = pd.merge(merged_age, year55_64_df, on ='state')
merged_age = merged_age.rename(columns={
                                "covid_19_deaths_x":"45-54 Years COVID-19 Deaths", 
                                "covid_19_deaths_y": "55-64 Years COVID-19 Deaths"
                                       })
del merged_age['age_group_x']
del merged_age['age_group_y']
#merged_age.head()

In [613]:
merged_age = pd.merge(merged_age, year65_74_df, on ='state')
merged_age = pd.merge(merged_age, year75_84_df, on ='state')
merged_age = merged_age.rename(columns={
                                "covid_19_deaths_x":"65-74 Years COVID-19 Deaths", 
                                "covid_19_deaths_y": "75-84 Years COVID-19 Deaths"
                                       })
del merged_age['age_group_x']
del merged_age['age_group_y']
#merged_age.head()

In [614]:
merged_age = pd.merge(merged_age, year85_df, on ='state')
merged_age = pd.merge(merged_age, all_ages_df, on='state')
merged_age = merged_age.rename(columns={
                                "covid_19_deaths_x":"85 Years and Over COVID-19 Deaths",
                                "covid_19_deaths_y":"All Ages COVID-19 Deaths"
                                       })
del merged_age['age_group_x']
del merged_age['age_group_y']
#merged_age.head()

In [615]:
merged_age = merged_age.fillna(0)

In [616]:
merged_age = merged_age.loc[merged_age['state']!='Puerto Rico']

In [617]:
merged_age = merged_age.rename(columns={"state":"State"})
#merged_age.head()

In [618]:
age_sex_df = pd.merge(new_df, merged_age, on='State')
#age_sex_df

In [619]:
age_sex_df = age_sex_df.fillna(0)
#age_sex_df

In [620]:
for index, row in age_sex_df.iterrows():
    state = row[0]
    age_sex_df.loc[index,"State"] = us_state_abbrev[state]

In [621]:
#age_sex_df

In [622]:
#age_sex_df.to_csv("../data-file/total-age-sex-data.csv", index=False, header=True)

In [623]:
population_df = pd.read_csv("../jennie-folder/Population_byCDCAgeGroup_byState.csv")

In [624]:
for index, row in population_df.iterrows():
    state = row[2]
    population_df.loc[index,"State"] = us_state_abbrev[state]

In [625]:
population_df = population_df[['State', 'CDC_AgeGroups', 'Population']]

In [626]:

under5_pop = population_df.loc[population_df['CDC_AgeGroups']=="Under 5 years"]
years5_14_pop = population_df.loc[population_df['CDC_AgeGroups']=="5-14 years"]
years15_24_pop = population_df.loc[population_df['CDC_AgeGroups']=="15-24 years"]
years25_34_pop = population_df.loc[population_df['CDC_AgeGroups']=="25-34 years"]
years35_44_pop = population_df.loc[population_df['CDC_AgeGroups']=="35-44 years"]
years45_54_pop = population_df.loc[population_df['CDC_AgeGroups']=="45-54 years"]
years55_64_pop = population_df.loc[population_df['CDC_AgeGroups']=="55-64 years"]
years65_74_pop = population_df.loc[population_df['CDC_AgeGroups']=="65-74 years"]
years75_84_pop = population_df.loc[population_df['CDC_AgeGroups']=="75-84 years"]
years85_pop = population_df.loc[population_df['CDC_AgeGroups']=="85 years and over"]
all_ages_pop = population_df.loc[population_df['CDC_AgeGroups']=="Total"]

In [627]:
merged_pop = pd.merge(under5_pop, years5_14_pop, on ='State')
merged_pop = pd.merge(merged_pop, years15_24_pop, on='State')
merged_pop = merged_pop.rename(columns={
                                "Population_x":"Under 5 Years Population",
                                "Population_y":"5-14 Years Population",
                                "Population":"15-24 Years Population"
                                       })
del merged_pop['CDC_AgeGroups_x']
del merged_pop['CDC_AgeGroups_y']
del merged_pop['CDC_AgeGroups']
#merged_pop.head()

In [628]:
merged_pop = pd.merge(merged_pop, years25_34_pop, on ='State')
merged_pop = pd.merge(merged_pop, years35_44_pop, on='State')
merged_pop = pd.merge(merged_pop, years45_54_pop, on='State')
merged_pop = merged_pop.rename(columns={
                                "Population_x":"25-34 Years Population",
                                "Population_y":"35-44 Years Population",
                                "Population":"45-54 Years Population"
                                       })
del merged_pop['CDC_AgeGroups_x']
del merged_pop['CDC_AgeGroups_y']
del merged_pop['CDC_AgeGroups']
#merged_pop.head()

In [629]:
merged_pop = pd.merge(merged_pop, years55_64_pop, on ='State')
merged_pop = pd.merge(merged_pop, years65_74_pop, on='State')
merged_pop = pd.merge(merged_pop, years75_84_pop, on='State')
merged_pop = merged_pop.rename(columns={
                                "Population_x":"55-64 Years Population",
                                "Population_y":"65-74 Years Population",
                                "Population":"75-84 Years Population"
                                       })
del merged_pop['CDC_AgeGroups_x']
del merged_pop['CDC_AgeGroups_y']
del merged_pop['CDC_AgeGroups']
#merged_pop.head()

In [630]:
merged_pop = pd.merge(merged_pop, years85_pop, on ='State')
merged_pop = pd.merge(merged_pop, all_ages_pop, on ='State')


merged_pop = merged_pop.rename(columns={
                                "Population_x":"85 Years and Over Population",
                                "Population_y":"Total Population"
                                       })

del merged_pop['CDC_AgeGroups_x']
del merged_pop['CDC_AgeGroups_y']
merged_pop

,State,Under 5 Years Population,5-14 Years Population,15-24 Years Population,25-34 Years Population,35-44 Years Population,45-54 Years Population,55-64 Years Population,65-74 Years Population,75-84 Years Population,85 Years and Over Population,Total Population
0,AL,294357.0,608466.0,635707.0,647229.0,593306.0,616616.0,657667.0,501447.0,256847.0,91543.0,4903185.0
1,AK,51080.0,100662.0,96393.0,117588.0,95765.0,85130.0,93339.0,61300.0,23107.0,7181.0,731545.0
2,AZ,429788.0,930745.0,973547.0,1007093.0,896027.0,852090.0,880794.0,751699.0,411197.0,145737.0,7278717.0
3,AR,188464.0,393213.0,397538.0,396868.0,370263.0,361582.0,385994.0,302829.0,161141.0,59912.0,3017804.0
4,CA,2383716.0,5007987.0,5180973.0,6052952.0,5282100.0,4979745.0,4786635.0,3386670.0,1701599.0,749846.0,39512223.0
5,CO,332201.0,710322.0,743213.0,913354.0,798071.0,706150.0,713013.0,522131.0,230360.0,89921.0,5758736.0
6,CT,181710.0,409000.0,478803.0,448029.0,427141.0,476905.0,513455.0,352819.0,186095.0,91330.0,3565287.0
7,DE,54719.0,113975.0,117372.0,129080.0,113101.0,118881.0,137730.0,112858.0,55794.0,20254.0,973764.0
8,FL,1139742.0,2372397.0,2460558.0,2799422.0,2600531.0,2709395.0,2898355.0,2465369.0,1450514.0,581454.0,21477737.0
9,GA,656566.0,1413003.0,1449500.0,1493261.0,1380954.0,1399652.0,1307533.0,926001.0,439884.0,151069.0,10617423.0
10,HI,85219.0,167586.0,165937.0,199995.0,181803.0,167747.0,179137.0,152092.0,74688.0,41668.0,1415872.0
11,ID,116200.0,254788.0,241619.0,236490.0,227172.0,201766.0,218360.0,175866.0,85030.0,29774.0,1787065.0
12,IL,746934.0,1575745.0,1652607.0,1758096.0,1637135.0,1599789.0,1658283.0,1176033.0,600230.0,266969.0,12671821.0
13,IN,418340.0,878981.0,930398.0,890687.0,828959.0,824029.0,875082.0,636737.0,317937.0,131069.0,6732219.0
14,IA,195636.0,408495.0,436415.0,398150.0,385215.0,362509.0,415696.0,311447.0,162833.0,78674.0,3155070.0
15,KS,185331.0,396266.0,412813.0,382922.0,361029.0,327961.0,371505.0,272236.0,137573.0,65678.0,2913314.0
16,KY,272610.0,560417.0,583798.0,587380.0,550953.0,563662.0,598289.0,447876.0,220820.0,81868.0,4467673.0
17,LA,301469.0,607936.0,597268.0,658227.0,589854.0,548348.0,604670.0,442534.0,216431.0,82057.0,4648794.0
18,ME,63537.0,140100.0,152137.0,162808.0,154075.0,174730.0,211560.0,169079.0,82386.0,33800.0,1344212.0
19,MD,361937.0,747869.0,751030.0,829249.0,782213.0,795467.0,818519.0,561582.0,278421.0,119393.0,6045680.0
20,MA,357362.0,751035.0,935124.0,994454.0,848373.0,893633.0,943190.0,673305.0,336504.0,159523.0,6892503.0
21,MI,566442.0,1196689.0,1326325.0,1311614.0,1166172.0,1254679.0,1399535.0,1037580.0,514685.0,213136.0,9986857.0
22,MN,351622.0,732593.0,717060.0,762616.0,725577.0,673361.0,756421.0,531059.0,266713.0,122610.0,5639632.0
23,MS,183478.0,395659.0,402867.0,393747.0,365754.0,362040.0,385911.0,288955.0,145440.0,52298.0,2976149.0
24,MO,368080.0,769540.0,794469.0,825887.0,753739.0,732944.0,830732.0,610165.0,318341.0,133531.0,6137428.0
25,MT,61156.0,129305.0,135891.0,138386.0,129795.0,117800.0,150008.0,124631.0,58951.0,22855.0,1068778.0
26,NE,130880.0,266296.0,268196.0,255338.0,243139.0,215808.0,242293.0,178908.0,90492.0,43058.0,1934408.0
27,NV,185575.0,392066.0,365218.0,453116.0,410505.0,394228.0,383476.0,303363.0,147793.0,44816.0,3080156.0
28,NH,63621.0,143449.0,171874.0,172816.0,156500.0,183273.0,214314.0,152669.0,70954.0,30241.0,1359711.0
29,NJ,514690.0,1083967.0,1093555.0,1152278.0,1137693.0,1200823.0,1223649.0,832866.0,439565.0,203104.0,8882190.0
30,NM,120986.0,272268.0,278459.0,284087.0,254846.0,235656.0,272921.0,224483.0,111714.0,41409.0,2096829.0
31,NY,1127001.0,2218596.0,2445246.0,2867651.0,2429961.0,2471804.0,2597156.0,1859922.0,976223.0,460001.0,19453561.0
32,NC,609770.0,1294472.0,1387060.0,1416069.0,1303427.0,1364067.0,1362125.0,1046508.0,515192.0,189394.0,10488084.0
33,ND,54101.0,99495.0,109397.0,114571.0,92576.0,78199.0,93878.0,66664.0,34368.0,18813.0,762062.0
34,OH,690828.0,1440279.0,1507223.0,1554378.0,1397808.0,1447581.0,1604683.0,1189243.0,600805.0,256272.0,11689100.0
35,OK,255533.0,538048.0,539562.0,543593.0,497873.0,453536.0,493694.0,368050.0,192919.0,74163.0,3956971.0
36,OR,227811.0,491536.0,510237.0,604284.0,568712.0,510127.0,538950.0,464598.0,216944.0,84538.0,4217737.0
37,PA,697924.0,1475640.0,1603208.0,1709136.0,1513739.0,1604097.0,1804883.0,1354093.0,707157.0,332112.0,12801989.0
38,RI,54521.0,112868.0,146657.0,148213.0,125335.0,135112.0,149609.0,106159.0,53375.0,27512.0,1059361.0
39,SC,292464.0,630716.0,655402.0,682854.0,620504.0,640607.0,689144.0,570600.0,275013.0,91410.0,5148714.0
40,SD,61167.0,121666.0,116664.0,115064.0,105864.0,94865.0,117498.0,89216.0,41670.0,20985.0,884659.0
41,TN,408605.0,844681.0,869205.0,949656.0,847658.0,871279.0,894697.0,681396.0,340228.0,121769.0,6829174.0
42,TX,1990891.0,4166702.0,4055517.0,4276763.0,3942439.0,3554098.0,3275242.0,2245028.0,1080742.0,408459.0,28995881.0
43,UT,247803.0,526961.0,518499.0,471806.0,443453.0,328430.0,303134.0,219466.0,107832.0,38574.0,3205958.0
44,VT,29043.0,64156.0,86646.0,74408.0,71267.0,78051.0,95379.0,75206.0,35396.0,14437.0,623989.0
45,VA,505477.0,1040121.0,1113447.0,1190381.0,1112496.0,1100274.0,1114417.0,802291.0,402130.0,154485.0,8535519.0
46,WA,456476.0,935771.0,929322.0,1172075.0,1028141.0,923777.0,959608.0,735524.0,339621.0,134578.0,7614893.0
47,WV,93025.0,203472.0,216856.0,214004.0,213802.0,229251.0,254726.0,217323.0,109552.0,40136.0,1792147.0
48,WI,330496.0,714031.0,768140.0,741222.0,713075.0,715209.0,823018.0,594748.0,294186.0,128309.0,5822434.0
49,WY,34931.0,76734.0,74590.0,76433.0,74285.0,63853.0,78754.0,60590.0,27598.0,10991.0,578759.0

In [631]:
merged_pop['Total Population'].sum()

327533774.0

In [632]:
new_row_pop = {'State':'USA', 'Under 5 Years Population':19531315.0, 
              '5-14 Years Population':40926765.0, 
              '15-24 Years Population':42599542.0,
              '25-34 Years Population':45775780.0,
              '35-44 Years Population':41550175.0,
              '45-54 Years Population':40800616.0,
              '55-64 Years Population':42378661.0,
              '65-74 Years Population':31433214.0,
              '75-84 Years Population':15944990.0,
              '85 Years and Over Population':6592716.0,
                'Total Population': 327533774.0
              
             }
#append row to the dataframe
merged_pop = merged_pop.append(new_row_pop, ignore_index=True)

In [633]:
new_dfff = pd.merge(age_sex_df, merged_pop, on='State')

In [634]:
new_dfff = new_dfff[['State', 'Male COVID-19 Deaths', 'Female COVID-19 Deaths', 'All Sexes COVID-19 Deaths',
                     'Under 5 Years COVID-19 Deaths', 'Under 5 Years Population',
                    '5-14 Years COVID-19 Deaths', '5-14 Years Population',
                    '15-24 Years COVID-19 Deaths', '15-24 Years Population',
                     '25-34 Years COVID-19 Deaths', '25-34 Years Population',
                     '35-44 Years COVID-19 Deaths', '35-44 Years Population',
                     '45-54 Years COVID-19 Deaths', '45-54 Years Population',
                     '55-64 Years COVID-19 Deaths', '55-64 Years Population',
                     '65-74 Years COVID-19 Deaths', '65-74 Years Population',
                     '75-84 Years COVID-19 Deaths', '75-84 Years Population',
                     '85 Years and Over COVID-19 Deaths', '85 Years and Over Population',
                     'All Ages COVID-19 Deaths', 'Total Population'
                    ]]
#new_dfff.head()

In [635]:
#new_dfff.to_csv("../data-file/total-pop-death-data.csv", index=False, header=True)

In [636]:
base_url = "https://api.census.gov/data/2019/acs/acs1?get=NAME,B01001_002E,B01001_026E&for=state:*"
response = requests.get(base_url)


response = requests.get(base_url)
census_data = response.json()

In [637]:
df = pd.DataFrame(census_data[1:], columns=census_data[0])
df = df.sort_values(by=['state'])

In [638]:
df = df.rename(columns={"B01001_002E":'Male Population', 'B01001_026E':'Female Population'})

In [639]:
df["Male Population"] = pd.to_numeric(df["Male Population"], downcast="float")
df["Female Population"] = pd.to_numeric(df["Female Population"], downcast="float")

In [640]:
new_row = {'NAME':'United States', 'Male Population':163104960.0, 
              'Female Population':168328240.0
             }
#append row to the dataframe
df = df.append(new_row, ignore_index=True)

In [641]:
df = df.drop(columns=['state'])

In [642]:
df = df.drop([8, 51])

In [643]:
df = df.reset_index(drop=True)

In [644]:
for index, row in df.iterrows():
    state = row[0]
    df.loc[index,"NAME"] = us_state_abbrev[state]

In [645]:
df = df.rename(columns={'NAME': 'State'})

In [646]:
pop_merged = pd.merge(df, new_dfff, on = 'State')

In [647]:
pop_merged = pop_merged[['State', 'Male COVID-19 Deaths', 'Male Population', 'Female COVID-19 Deaths', 'Female Population',
                     'All Sexes COVID-19 Deaths', 'Under 5 Years COVID-19 Deaths', 'Under 5 Years Population',
                    '5-14 Years COVID-19 Deaths', '5-14 Years Population',
                    '15-24 Years COVID-19 Deaths', '15-24 Years Population',
                     '25-34 Years COVID-19 Deaths', '25-34 Years Population',
                     '35-44 Years COVID-19 Deaths', '35-44 Years Population',
                     '45-54 Years COVID-19 Deaths', '45-54 Years Population',
                     '55-64 Years COVID-19 Deaths', '55-64 Years Population',
                     '65-74 Years COVID-19 Deaths', '65-74 Years Population',
                     '75-84 Years COVID-19 Deaths', '75-84 Years Population',
                     '85 Years and Over COVID-19 Deaths', '85 Years and Over Population',
                     'All Ages COVID-19 Deaths', 'Total Population'
                    ]]
pop_merged.head()

,State,Male COVID-19 Deaths,Male Population,Female COVID-19 Deaths,Female Population,All Sexes COVID-19 Deaths,Under 5 Years COVID-19 Deaths,Under 5 Years Population,5-14 Years COVID-19 Deaths,5-14 Years Population,...,55-64 Years COVID-19 Deaths,55-64 Years Population,65-74 Years COVID-19 Deaths,65-74 Years Population,75-84 Years COVID-19 Deaths,75-84 Years Population,85 Years and Over COVID-19 Deaths,85 Years and Over Population,All Ages COVID-19 Deaths,Total Population
0,AL,5691,2369611.0,4944,2533574.0,10635,0,294357.0,0,608466.0,...,1482,657667.0,2761,501447.0,3059,256847.0,2440,91543.0,10635,4903185.0
1,AK,197,380433.0,139,351112.0,336,0,51080.0,0,100662.0,...,40,93339.0,86,61300.0,98,23107.0,78,7181.0,336,731545.0
2,AZ,9251,3620935.0,6453,3657782.0,15704,0,429788.0,0,930745.0,...,2290,880794.0,3751,751699.0,4478,411197.0,3536,145737.0,15704,7278717.0
3,AR,3094,1474705.0,2863,1543099.0,5957,0,188464.0,0,393213.0,...,724,385994.0,1341,302829.0,1758,161141.0,1739,59912.0,5957,3017804.0
4,CA,37841,19640794.0,26217,19871428.0,64058,0,2383716.0,0,5007987.0,...,10193,4786635.0,14564,3386670.0,15725,1701599.0,16531,749846.0,64058,39512223.0

In [648]:
sex_df = pop_merged[["State", "Male COVID-19 Deaths", "Male Population", "Female COVID-19 Deaths", "Female Population"]]
sex_df.head()
sex_df["Male COVID-19 Deaths"] = pd.to_numeric(sex_df["Male COVID-19 Deaths"], downcast="float")
sex_df["Female COVID-19 Deaths"] = pd.to_numeric(sex_df["Female COVID-19 Deaths"], downcast="float")
sex_df.head()

<ipython-input-648-8b9566e64ac8>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sex_df["Male COVID-19 Deaths"] = pd.to_numeric(sex_df["Male COVID-19 Deaths"], downcast="float")
<ipython-input-648-8b9566e64ac8>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sex_df["Female COVID-19 Deaths"] = pd.to_numeric(sex_df["Female COVID-19 Deaths"], downcast="float")

,State,Male COVID-19 Deaths,Male Population,Female COVID-19 Deaths,Female Population
0,AL,5691.0,2369611.0,4944.0,2533574.0
1,AK,197.0,380433.0,139.0,351112.0
2,AZ,9251.0,3620935.0,6453.0,3657782.0
3,AR,3094.0,1474705.0,2863.0,1543099.0
4,CA,37841.0,19640794.0,26217.0,19871428.0

In [697]:
sex_df['Crude Male Mortality Rate (%)'] = sex_df['Male COVID-19 Deaths']/sex_df['Male Population']*100
sex_df['Crude Female Mortality Rate (%)'] = sex_df['Female COVID-19 Deaths']/sex_df['Female Population']*100

In [699]:
sex_df = sex_df[['State', 'Male COVID-19 Deaths', 'Male Population', 'Crude Male Mortality Rate (%)', 'Female COVID-19 Deaths', 'Female Population', 'Crude Female Mortality Rate (%)']]

In [701]:
sex_df['total pop'] = sex_df['Male Population'] + sex_df['Female Population']
sex_df.head()

<ipython-input-701-3dd7402544a1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sex_df['total pop'] = sex_df['Male Population'] + sex_df['Female Population']

,State,Male COVID-19 Deaths,Male Population,Crude Male Mortality Rate (%),Female COVID-19 Deaths,Female Population,Crude Female Mortality Rate (%),total pop
0,AL,5691.0,2369611.0,0.240166,4944.0,2533574.0,0.195139,4903185.0
1,AK,197.0,380433.0,0.051783,139.0,351112.0,0.039589,731545.0
2,AZ,9251.0,3620935.0,0.255486,6453.0,3657782.0,0.176418,7278717.0
3,AR,3094.0,1474705.0,0.209805,2863.0,1543099.0,0.185536,3017804.0
4,CA,37841.0,19640794.0,0.192665,26217.0,19871428.0,0.131933,39512222.0

In [703]:
sex_df['Male Population (%)'] = sex_df['Male Population']/sex_df['total pop'] *100
sex_df['Female Population (%)'] = sex_df['Female Population']/sex_df['total pop']*100
sex_df.head()

,State,Male COVID-19 Deaths,Male Population,Crude Male Mortality Rate (%),Female COVID-19 Deaths,Female Population,Crude Female Mortality Rate (%),total pop,Male Population (%),Female Population (%)
0,AL,5691.0,2369611.0,0.240166,4944.0,2533574.0,0.195139,4903185.0,48.327995,51.672005
1,AK,197.0,380433.0,0.051783,139.0,351112.0,0.039589,731545.0,52.004046,47.995954
2,AZ,9251.0,3620935.0,0.255486,6453.0,3657782.0,0.176418,7278717.0,49.746885,50.253115
3,AR,3094.0,1474705.0,0.209805,2863.0,1543099.0,0.185536,3017804.0,48.866825,51.133175
4,CA,37841.0,19640794.0,0.192665,26217.0,19871428.0,0.131933,39512222.0,49.708149,50.291851

In [704]:
sex_df = sex_df[['State', 'Male Population (%)', 'Crude Male Mortality Rate (%)', 'Female Population (%)', 'Crude Female Mortality Rate (%)']]
sex_df.head()

,State,Male Population (%),Crude Male Mortality Rate (%),Female Population (%),Crude Female Mortality Rate (%)
0,AL,48.327995,0.240166,51.672005,0.195139
1,AK,52.004046,0.051783,47.995954,0.039589
2,AZ,49.746885,0.255486,50.253115,0.176418
3,AR,48.866825,0.209805,51.133175,0.185536
4,CA,49.708149,0.192665,50.291851,0.131933

In [705]:
sex_df.to_csv("../jennie-folder/demographic_sex.csv", index=False, header=True)

In [653]:
race_url = "https://data.cdc.gov/resource/pj7m-y5uh.json"
response = requests.get(race_url)
race_data = response.json()

In [654]:
client = Socrata("data.cdc.gov", None)

race_results = client.get("pj7m-y5uh", limit=6000)

race_df = pd.DataFrame.from_records(race_results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [655]:
race_df = race_df.loc[race_df['group']=="By Total"]
race_df = race_df.loc[race_df['indicator']=="Count of COVID-19 deaths"]

In [656]:
race_df = race_df.drop(columns=['data_as_of', 'start_week', 'end_week', 'year', 'group', 'indicator', 'month', 'footnote'])

In [657]:
race_df = race_df.rename(columns={'state':'State', 'non_hispanic_white': "White Deaths",
                                  'non_hispanic_black_african_american':'Black/African American Deaths',
                                 'non_hispanic_american_indian_alaska_native':'American Indian/Alaska Native Deaths',
                                  'non_hispanic_asian_pacific_islander':'Asian Pacific Islander Deaths',
                                  'nh_nhopi':'Native Hawaiian/Other Pacific Islander Deaths',
                                  'non_hispanic_more_than_one_race':'More than one Race Deaths',
                                  'hispanic_latino_total':'Hispanic/Latino Deaths'
                                 })
#race_df.head()

In [658]:
race_df = race_df.reset_index(drop=True)

In [659]:
for index, row in race_df.iterrows():
    state = row[0]
    race_df.loc[index,"State"] = us_state_abbrev[state]

In [660]:
race_df = race_df.fillna(0)

In [661]:
#race_df.head()

In [662]:
race_pop_url = "https://api.census.gov/data/2019/acs/acs1?get=NAME,B01001A_001E,B01001B_001E,B01001C_001E,B01001D_001E,B01001E_001E,B01001G_002E,B01001I_001E&for=state:*"
response = requests.get(race_pop_url)


race_pop_response = requests.get(race_pop_url)
race_pop_data = race_pop_response.json()

In [663]:
race_pop_df = pd.DataFrame(race_pop_data[1:], columns=race_pop_data[0])
race_pop_df = race_pop_df.sort_values(by=['state'])

In [664]:
race_pop_df = race_pop_df.reset_index(drop=True)

In [665]:
race_pop_df = race_pop_df.rename(columns={'NAME':'State','B01001A_001E':'White Population',
                                          'B01001B_001E':'Black/African American Population',
                                          'B01001C_001E':'American Indian/Alaska Native Population',
                                          'B01001D_001E':'Asian Population',
                                          'B01001E_001E':'Native Hawaiian/Other Pacific Islander Population',
                                          'B01001G_002E':'More than one Race Population',
                                          'B01001I_001E':'Hispanic/Latino Population'
                                         })
#race_pop_df.head()

In [666]:
race_pop_df = race_pop_df.fillna(0)

In [667]:
race_pop_df["White Population"] = pd.to_numeric(race_pop_df["White Population"], downcast="float")
race_pop_df["Black/African American Population"] = pd.to_numeric(race_pop_df["Black/African American Population"], downcast="float")
race_pop_df["American Indian/Alaska Native Population"] = pd.to_numeric(race_pop_df["American Indian/Alaska Native Population"], downcast="float")
race_pop_df["Asian Population"] = pd.to_numeric(race_pop_df["Asian Population"], downcast="float")
race_pop_df["Native Hawaiian/Other Pacific Islander Population"] = pd.to_numeric(race_pop_df["Native Hawaiian/Other Pacific Islander Population"], downcast="float")
race_pop_df["More than one Race Population"] = pd.to_numeric(race_pop_df["More than one Race Population"], downcast="float")
race_pop_df["Hispanic/Latino Population"] = pd.to_numeric(race_pop_df["Hispanic/Latino Population"], downcast="float")

In [668]:
new_row_race = {'State':'United States', 'White Population':238530160.0, 
              'Black/African American Population':42357500.0,
               'American Indian/Alaska Native Population':2815045.0,
               'Asian Population':18632352.0,
               'Native Hawaiian/Other Pacific Islander Population':496290.0,
               'More than one Race Population':5752848.0,
               'Hispanic/Latino Population':63616508.0
             }
#append row to the dataframe
race_pop_df = race_pop_df.append(new_row_race, ignore_index=True)

In [669]:
race_pop_df = race_pop_df.drop(columns=['state'])

In [670]:
race_pop_df = race_pop_df.drop([8, 51])

In [671]:
race_pop_df = race_pop_df.reset_index(drop=True)

In [672]:
for index, row in race_pop_df.iterrows():
    state = row[0]
    race_pop_df.loc[index,"State"] = us_state_abbrev[state]

In [673]:
race_pop_df.head()

,State,White Population,Black/African American Population,American Indian/Alaska Native Population,Asian Population,Native Hawaiian/Other Pacific Islander Population,More than one Race Population,Hispanic/Latino Population
0,AL,3326375.0,1319551.0,23265.0,66129.0,0.0,42835.0,219296.0
1,AK,469771.0,22551.0,115544.0,43678.0,0.0,28459.0,52548.0
2,AZ,5701810.0,343729.0,332273.0,241721.0,14168.0,146550.0,2310592.0
3,AR,2315020.0,467468.0,17216.0,46078.0,12829.0,42358.0,231951.0
4,CA,23484958.0,2282144.0,321112.0,5865435.0,155871.0,999761.0,15574882.0

In [674]:
race_merge = pd.merge(race_df, race_pop_df, on ='State')

In [675]:
race_merge = race_merge[['State', 
                         'White Deaths', 'White Population', 
                         'Black/African American Deaths', 'Black/African American Population',
                         'American Indian/Alaska Native Deaths', 'American Indian/Alaska Native Population', 
                         'Asian Pacific Islander Deaths', 'Asian Population',
                         'Native Hawaiian/Other Pacific Islander Deaths', 'Native Hawaiian/Other Pacific Islander Population',
                         'More than one Race Deaths', 'More than one Race Population',
                         'Hispanic/Latino Deaths', 'Hispanic/Latino Population'
                    ]]
race_merge.head()

,State,White Deaths,White Population,Black/African American Deaths,Black/African American Population,American Indian/Alaska Native Deaths,American Indian/Alaska Native Population,Asian Pacific Islander Deaths,Asian Population,Native Hawaiian/Other Pacific Islander Deaths,Native Hawaiian/Other Pacific Islander Population,More than one Race Deaths,More than one Race Population,Hispanic/Latino Deaths,Hispanic/Latino Population
0,USA,348558,238530160.0,85495,42357500.0,6482,2815045.0,22190,18632352.0,1044,496290.0,1864,5752848.0,106465,63616508.0
1,AL,7231,3326375.0,3130,1319551.0,17,23265.0,48,66129.0,0,0.0,0,42835.0,190,219296.0
2,AK,133,469771.0,0,22551.0,114,115544.0,34,43678.0,20,0.0,10,28459.0,15,52548.0
3,AZ,8084,5701810.0,507,343729.0,1605,332273.0,325,241721.0,36,14168.0,143,146550.0,4849,2310592.0
4,AR,4671,2315020.0,883,467468.0,39,17216.0,47,46078.0,58,12829.0,24,42358.0,235,231951.0

In [676]:
demographic_age = pd.merge(pop_merged, race_merge, how='left', on='State')
demographic_age.head()

,State,Male COVID-19 Deaths,Male Population,Female COVID-19 Deaths,Female Population,All Sexes COVID-19 Deaths,Under 5 Years COVID-19 Deaths,Under 5 Years Population,5-14 Years COVID-19 Deaths,5-14 Years Population,...,American Indian/Alaska Native Deaths,American Indian/Alaska Native Population,Asian Pacific Islander Deaths,Asian Population,Native Hawaiian/Other Pacific Islander Deaths,Native Hawaiian/Other Pacific Islander Population,More than one Race Deaths,More than one Race Population,Hispanic/Latino Deaths,Hispanic/Latino Population
0,AL,5691,2369611.0,4944,2533574.0,10635,0,294357.0,0,608466.0,...,17,23265.0,48,66129.0,0,0.0,0,42835.0,190,219296.0
1,AK,197,380433.0,139,351112.0,336,0,51080.0,0,100662.0,...,114,115544.0,34,43678.0,20,0.0,10,28459.0,15,52548.0
2,AZ,9251,3620935.0,6453,3657782.0,15704,0,429788.0,0,930745.0,...,1605,332273.0,325,241721.0,36,14168.0,143,146550.0,4849,2310592.0
3,AR,3094,1474705.0,2863,1543099.0,5957,0,188464.0,0,393213.0,...,39,17216.0,47,46078.0,58,12829.0,24,42358.0,235,231951.0
4,CA,37841,19640794.0,26217,19871428.0,64058,0,2383716.0,0,5007987.0,...,297,321112.0,7994,5865435.0,350,155871.0,397,999761.0,30574,15574882.0

In [677]:
demographic_df = pd.read_csv("../jennie-folder/CRDT Data - CRDT.csv")

In [678]:
demographic_df.head()

,Date,State,Cases_Total,Cases_White,Cases_Black,Cases_Latinx,Cases_Asian,Cases_AIAN,Cases_NHPI,Cases_Multiracial,...,Tests_Latinx,Tests_Asian,Tests_AIAN,Tests_NHPI,Tests_Multiracial,Tests_Other,Tests_Unknown,Tests_Ethnicity_Hispanic,Tests_Ethnicity_NonHispanic,Tests_Ethnicity_Unknown
0,20210307,AK,59332.0,18300.0,1499.0,NaN,2447.0,12238.0,1508.0,4453.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20210307,AL,499819.0,160347.0,82790.0,NaN,2273.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20210307,AR,324818.0,207596.0,50842.0,NaN,2913.0,1070.0,3358.0,1804.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20210307,AS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20210307,AZ,826454.0,308453.0,25775.0,244539.0,11921.0,40707.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [679]:
print(demographic_df.columns.tolist())

['Date', 'State', 'Cases_Total', 'Cases_White', 'Cases_Black', 'Cases_Latinx', 'Cases_Asian', 'Cases_AIAN', 'Cases_NHPI', 'Cases_Multiracial', 'Cases_Other', 'Cases_Unknown', 'Cases_Ethnicity_Hispanic', 'Cases_Ethnicity_NonHispanic', 'Cases_Ethnicity_Unknown', 'Deaths_Total', 'Deaths_White', 'Deaths_Black', 'Deaths_Latinx', 'Deaths_Asian', 'Deaths_AIAN', 'Deaths_NHPI', 'Deaths_Multiracial', 'Deaths_Other', 'Deaths_Unknown', 'Deaths_Ethnicity_Hispanic', 'Deaths_Ethnicity_NonHispanic', 'Deaths_Ethnicity_Unknown', 'Hosp_Total', 'Hosp_White', 'Hosp_Black', 'Hosp_Latinx', 'Hosp_Asian', 'Hosp_AIAN', 'Hosp_NHPI', 'Hosp_Multiracial', 'Hosp_Other', 'Hosp_Unknown', 'Hosp_Ethnicity_Hispanic', 'Hosp_Ethnicity_NonHispanic', 'Hosp_Ethnicity_Unknown', 'Tests_Total', 'Tests_White', 'Tests_Black', 'Tests_Latinx', 'Tests_Asian', 'Tests_AIAN', 'Tests_NHPI', 'Tests_Multiracial', 'Tests_Other', 'Tests_Unknown', 'Tests_Ethnicity_Hispanic', 'Tests_Ethnicity_NonHispanic', 'Tests_Ethnicity_Unknown']

In [680]:
demographic_df = demographic_df.groupby('State').sum()
demographic_df = demographic_df[["Cases_Total", "Cases_White", "Cases_Black","Cases_Latinx", "Cases_Asian", "Cases_AIAN", "Cases_NHPI", "Cases_Multiracial", "Cases_Ethnicity_Hispanic"]]
demographic_df.head()

,Cases_Total,Cases_White,Cases_Black,Cases_Latinx,Cases_Asian,Cases_AIAN,Cases_NHPI,Cases_Multiracial,Cases_Ethnicity_Hispanic
State,,,,,,,,,
AK,1855334.0,574849.0,56782.0,0.0,73005.0,373509.0,54235.0,127827.0,106683.0
AL,17861341.0,5601494.0,3373720.0,0.0,70420.0,0.0,0.0,0.0,651897.0
AR,10837342.0,6652666.0,1890196.0,0.0,105929.0,31859.0,195756.0,61984.0,1452815.0
AS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AZ,27502303.0,8458144.0,815793.0,7948222.0,332233.0,1458070.0,0.0,0.0,7947570.0

In [681]:
death_rate_eth = pd.merge(race_merge, demographic_df, on='State')

In [682]:
death_rate_eth = death_rate_eth[['State',
                         'Cases_White','White Deaths', 'White Population', 
                         'Cases_Black', 'Black/African American Deaths', 'Black/African American Population',
                         'Cases_AIAN','American Indian/Alaska Native Deaths', 'American Indian/Alaska Native Population', 
                         'Cases_Asian','Asian Pacific Islander Deaths', 'Asian Population',
                         'Cases_NHPI','Native Hawaiian/Other Pacific Islander Deaths', 'Native Hawaiian/Other Pacific Islander Population',
                         'Cases_Multiracial', 'More than one Race Deaths', 'More than one Race Population',
                         'Cases_Ethnicity_Hispanic','Hispanic/Latino Deaths', 'Hispanic/Latino Population'
                    ]]
death_rate_eth.head()

death_rate_eth['total pop'] = death_rate_eth['White Population'] + death_rate_eth['Black/African American Population'] + death_rate_eth['American Indian/Alaska Native Population'] + death_rate_eth['Asian Population'] + death_rate_eth['Native Hawaiian/Other Pacific Islander Population'] + death_rate_eth['More than one Race Population'] + death_rate_eth['Hispanic/Latino Population']
death_rate_eth.head()

,State,Cases_White,White Deaths,White Population,Cases_Black,Black/African American Deaths,Black/African American Population,Cases_AIAN,American Indian/Alaska Native Deaths,American Indian/Alaska Native Population,...,Cases_NHPI,Native Hawaiian/Other Pacific Islander Deaths,Native Hawaiian/Other Pacific Islander Population,Cases_Multiracial,More than one Race Deaths,More than one Race Population,Cases_Ethnicity_Hispanic,Hispanic/Latino Deaths,Hispanic/Latino Population,total pop
0,AL,5601494.0,7231,3326375.0,3373720.0,3130,1319551.0,0.0,17,23265.0,...,0.0,0,0.0,0.0,0,42835.0,651897.0,190,219296.0,4997451.0
1,AK,574849.0,133,469771.0,56782.0,0,22551.0,373509.0,114,115544.0,...,54235.0,20,0.0,127827.0,10,28459.0,106683.0,15,52548.0,732551.0
2,AZ,8458144.0,8084,5701810.0,815793.0,507,343729.0,1458070.0,1605,332273.0,...,0.0,36,14168.0,0.0,143,146550.0,7947570.0,4849,2310592.0,9090843.0
3,AR,6652666.0,4671,2315020.0,1890196.0,883,467468.0,31859.0,39,17216.0,...,195756.0,58,12829.0,61984.0,24,42358.0,1452815.0,235,231951.0,3132920.0
4,CA,15360536.0,20339,23484958.0,3408823.0,3988,2282144.0,241503.0,297,321112.0,...,448957.0,350,155871.0,1022184.0,397,999761.0,45105227.0,30574,15574882.0,48684163.0

In [683]:
death_rate_eth["White Deaths"] = pd.to_numeric(death_rate_eth["White Deaths"], downcast="float")
death_rate_eth["Black/African American Deaths"] = pd.to_numeric(death_rate_eth["Black/African American Deaths"], downcast="float")
death_rate_eth["American Indian/Alaska Native Deaths"] = pd.to_numeric(death_rate_eth["American Indian/Alaska Native Deaths"], downcast="float")
death_rate_eth["Native Hawaiian/Other Pacific Islander Deaths"] = pd.to_numeric(death_rate_eth["Native Hawaiian/Other Pacific Islander Deaths"], downcast="float")
death_rate_eth["Asian Pacific Islander Deaths"] = pd.to_numeric(death_rate_eth["Asian Pacific Islander Deaths"], downcast="float")
death_rate_eth["More than one Race Deaths"] = pd.to_numeric(death_rate_eth["More than one Race Deaths"], downcast="float")
death_rate_eth["Hispanic/Latino Deaths"] = pd.to_numeric(death_rate_eth["Hispanic/Latino Deaths"], downcast="float")

In [684]:
white_dr = death_rate_eth['White Deaths']/death_rate_eth['Cases_White']*100
death_rate_eth['White Fatality Rate (%)'] = white_dr

white_pop = death_rate_eth['White Population']/death_rate_eth['total pop']*100
death_rate_eth['White Population %'] = white_pop

black_dr = death_rate_eth['Black/African American Deaths']/death_rate_eth['Cases_Black']*100
death_rate_eth['Black Fatality Rate (%)'] = black_dr

black_pop = death_rate_eth['Black/African American Population']/death_rate_eth['total pop']*100
death_rate_eth['Black/African American Population %'] = black_pop

AIAN_dr = death_rate_eth['American Indian/Alaska Native Deaths']/death_rate_eth['Cases_AIAN']*100
death_rate_eth['AIAN Fatality Rate (%)'] = AIAN_dr

AIAN_pop = death_rate_eth['American Indian/Alaska Native Population']/death_rate_eth['total pop']*100
death_rate_eth['AIAN Population %'] = AIAN_pop

ASIAN_dr = death_rate_eth['Asian Pacific Islander Deaths']/death_rate_eth['Cases_Asian']*100
death_rate_eth['Asian Fatality Rate (%)'] = ASIAN_dr

asian_pop = death_rate_eth['Asian Population']/death_rate_eth['total pop']*100
death_rate_eth['Asian Population %'] = asian_pop

NHPI_dr = death_rate_eth['Native Hawaiian/Other Pacific Islander Deaths']/death_rate_eth['Cases_NHPI']*100
death_rate_eth['NHPI Fatality Rate (%)'] = NHPI_dr

NHPI_pop = death_rate_eth['Native Hawaiian/Other Pacific Islander Population']/death_rate_eth['total pop']*100
death_rate_eth['NHPI Population %'] = NHPI_pop

multiple_dr = death_rate_eth['More than one Race Deaths']/death_rate_eth['Cases_Multiracial']*100
death_rate_eth['Multiracial Fatality Rate (%)'] = multiple_dr

multiple_pop = death_rate_eth['More than one Race Population']/death_rate_eth['total pop']*100
death_rate_eth['Multiracial Population %'] = multiple_pop

hispanic_dr = death_rate_eth['Hispanic/Latino Deaths']/death_rate_eth['Cases_Ethnicity_Hispanic']*100
death_rate_eth['Hispanic Fatality Rate (%)'] = hispanic_dr

hispanic_pop = death_rate_eth['Hispanic/Latino Population']/death_rate_eth['total pop']*100
death_rate_eth['Hispanic Population %'] = hispanic_pop

In [685]:
death_rate_eth.head()

,State,Cases_White,White Deaths,White Population,Cases_Black,Black/African American Deaths,Black/African American Population,Cases_AIAN,American Indian/Alaska Native Deaths,American Indian/Alaska Native Population,...,AIAN Fatality Rate (%),AIAN Population %,Asian Fatality Rate (%),Asian Population %,NHPI Fatality Rate (%),NHPI Population %,Multiracial Fatality Rate (%),Multiracial Population %,Hispanic Fatality Rate (%),Hispanic Population %
0,AL,5601494.0,7231.0,3326375.0,3373720.0,3130.0,1319551.0,0.0,17.0,23265.0,...,inf,0.465537,0.068162,1.323255,NaN,0.000000,NaN,0.857137,0.029146,4.388157
1,AK,574849.0,133.0,469771.0,56782.0,0.0,22551.0,373509.0,114.0,115544.0,...,0.030521,15.772827,0.046572,5.962452,0.036877,0.000000,0.007823,3.884917,0.014060,7.173289
2,AZ,8458144.0,8084.0,5701810.0,815793.0,507.0,343729.0,1458070.0,1605.0,332273.0,...,0.110077,3.655030,0.097823,2.658950,inf,0.155849,inf,1.612062,0.061012,25.416697
3,AR,6652666.0,4671.0,2315020.0,1890196.0,883.0,467468.0,31859.0,39.0,17216.0,...,0.122414,0.549519,0.044369,1.470768,0.029629,0.409490,0.038720,1.352029,0.016175,7.403668
4,CA,15360536.0,20339.0,23484958.0,3408823.0,3988.0,2282144.0,241503.0,297.0,321112.0,...,0.122980,0.659582,0.158423,12.047932,0.077958,0.320168,0.038838,2.053565,0.067784,31.991681

In [686]:
death_rate_eth = death_rate_eth[['State',
                         'White Fatality Rate (%)', 'White Population %',
                         'Black Fatality Rate (%)', 'Black/African American Population %',
                         'AIAN Fatality Rate (%)', 'AIAN Population %',
                         'Asian Fatality Rate (%)', 'Asian Population %',
                         'NHPI Fatality Rate (%)', 'NHPI Population %',
                         'Multiracial Fatality Rate (%)', 'Multiracial Population %',
                         'Hispanic Fatality Rate (%)', 'Hispanic Population %'
                    ]]

death_rate_eth = death_rate_eth.replace([np.inf, -np.inf], np.nan)
death_rate_eth = death_rate_eth.fillna(0)
death_rate_eth.head()

,State,White Fatality Rate (%),White Population %,Black Fatality Rate (%),Black/African American Population %,AIAN Fatality Rate (%),AIAN Population %,Asian Fatality Rate (%),Asian Population %,NHPI Fatality Rate (%),NHPI Population %,Multiracial Fatality Rate (%),Multiracial Population %,Hispanic Fatality Rate (%),Hispanic Population %
0,AL,0.129091,66.561433,0.092776,26.404481,0.000000,0.465537,0.068162,1.323255,0.000000,0.000000,0.000000,0.857137,0.029146,4.388157
1,AK,0.023137,64.128095,0.000000,3.078420,0.030521,15.772827,0.046572,5.962452,0.036877,0.000000,0.007823,3.884917,0.014060,7.173289
2,AZ,0.095577,62.720366,0.062148,3.781046,0.110077,3.655030,0.097823,2.658950,0.000000,0.155849,0.000000,1.612062,0.061012,25.416697
3,AR,0.070212,73.893365,0.046715,14.921160,0.122414,0.549519,0.044369,1.470768,0.029629,0.409490,0.038720,1.352029,0.016175,7.403668
4,CA,0.132411,48.239420,0.116991,4.687652,0.122980,0.659582,0.158423,12.047932,0.077958,0.320168,0.038838,2.053565,0.067784,31.991681

In [687]:
death_rate_eth.to_csv("../jennie-folder/demographic_ethnicity.csv", index=False, header=True)

In [706]:
demographic_age.head()

,State,Male COVID-19 Deaths,Male Population,Female COVID-19 Deaths,Female Population,All Sexes COVID-19 Deaths,Under 5 Years COVID-19 Deaths,Under 5 Years Population,5-14 Years COVID-19 Deaths,5-14 Years Population,...,American Indian/Alaska Native Deaths,American Indian/Alaska Native Population,Asian Pacific Islander Deaths,Asian Population,Native Hawaiian/Other Pacific Islander Deaths,Native Hawaiian/Other Pacific Islander Population,More than one Race Deaths,More than one Race Population,Hispanic/Latino Deaths,Hispanic/Latino Population
0,AL,5691,2369611.0,4944,2533574.0,10635,0,294357.0,0,608466.0,...,17,23265.0,48,66129.0,0,0.0,0,42835.0,190,219296.0
1,AK,197,380433.0,139,351112.0,336,0,51080.0,0,100662.0,...,114,115544.0,34,43678.0,20,0.0,10,28459.0,15,52548.0
2,AZ,9251,3620935.0,6453,3657782.0,15704,0,429788.0,0,930745.0,...,1605,332273.0,325,241721.0,36,14168.0,143,146550.0,4849,2310592.0
3,AR,3094,1474705.0,2863,1543099.0,5957,0,188464.0,0,393213.0,...,39,17216.0,47,46078.0,58,12829.0,24,42358.0,235,231951.0
4,CA,37841,19640794.0,26217,19871428.0,64058,0,2383716.0,0,5007987.0,...,297,321112.0,7994,5865435.0,350,155871.0,397,999761.0,30574,15574882.0

In [688]:
aged_df = demographic_age[["State", "65-74 Years Population", "65-74 Years COVID-19 Deaths", "75-84 Years Population","75-84 Years COVID-19 Deaths", "85 Years and Over Population", "85 Years and Over COVID-19 Deaths"]]
aged_df.head()

,State,65-74 Years Population,65-74 Years COVID-19 Deaths,75-84 Years Population,75-84 Years COVID-19 Deaths,85 Years and Over Population,85 Years and Over COVID-19 Deaths
0,AL,501447.0,2761,256847.0,3059,91543.0,2440
1,AK,61300.0,86,23107.0,98,7181.0,78
2,AZ,751699.0,3751,411197.0,4478,145737.0,3536
3,AR,302829.0,1341,161141.0,1758,59912.0,1739
4,CA,3386670.0,14564,1701599.0,15725,749846.0,16531

In [689]:
aged_df["65-74 Years COVID-19 Deaths"] = aged_df["65-74 Years COVID-19 Deaths"].astype(float)
aged_df["75-84 Years COVID-19 Deaths"] = aged_df["75-84 Years COVID-19 Deaths"].astype(float)
aged_df["85 Years and Over COVID-19 Deaths"] = aged_df["85 Years and Over COVID-19 Deaths"].astype(float)

<ipython-input-689-2b0fc69b8258>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aged_df["65-74 Years COVID-19 Deaths"] = aged_df["65-74 Years COVID-19 Deaths"].astype(float)
<ipython-input-689-2b0fc69b8258>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aged_df["75-84 Years COVID-19 Deaths"] = aged_df["75-84 Years COVID-19 Deaths"].astype(float)
<ipython-input-689-2b0fc69b8258>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aged_df["85 Years and Over COVID-19 Deaths"] = aged_df["85 Years and Over COVID-19 Deaths"].astype(float)

In [690]:
aged_df['65 Years and Over Population'] = aged_df['65-74 Years Population'] + aged_df['75-84 Years Population'] + aged_df['85 Years and Over Population']
aged_df.head()

<ipython-input-690-ba8fd7fc5e01>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aged_df['65 Years and Over Population'] = aged_df['65-74 Years Population'] + aged_df['75-84 Years Population'] + aged_df['85 Years and Over Population']

,State,65-74 Years Population,65-74 Years COVID-19 Deaths,75-84 Years Population,75-84 Years COVID-19 Deaths,85 Years and Over Population,85 Years and Over COVID-19 Deaths,65 Years and Over Population
0,AL,501447.0,2761.0,256847.0,3059.0,91543.0,2440.0,849837.0
1,AK,61300.0,86.0,23107.0,98.0,7181.0,78.0,91588.0
2,AZ,751699.0,3751.0,411197.0,4478.0,145737.0,3536.0,1308633.0
3,AR,302829.0,1341.0,161141.0,1758.0,59912.0,1739.0,523882.0
4,CA,3386670.0,14564.0,1701599.0,15725.0,749846.0,16531.0,5838115.0

In [691]:
aged_df['65 Years and Over COVID Deaths'] = aged_df['65-74 Years COVID-19 Deaths'] + aged_df['75-84 Years COVID-19 Deaths'] + aged_df['85 Years and Over COVID-19 Deaths']
aged_df.head()

<ipython-input-691-cae404275036>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aged_df['65 Years and Over COVID Deaths'] = aged_df['65-74 Years COVID-19 Deaths'] + aged_df['75-84 Years COVID-19 Deaths'] + aged_df['85 Years and Over COVID-19 Deaths']

,State,65-74 Years Population,65-74 Years COVID-19 Deaths,75-84 Years Population,75-84 Years COVID-19 Deaths,85 Years and Over Population,85 Years and Over COVID-19 Deaths,65 Years and Over Population,65 Years and Over COVID Deaths
0,AL,501447.0,2761.0,256847.0,3059.0,91543.0,2440.0,849837.0,8260.0
1,AK,61300.0,86.0,23107.0,98.0,7181.0,78.0,91588.0,262.0
2,AZ,751699.0,3751.0,411197.0,4478.0,145737.0,3536.0,1308633.0,11765.0
3,AR,302829.0,1341.0,161141.0,1758.0,59912.0,1739.0,523882.0,4838.0
4,CA,3386670.0,14564.0,1701599.0,15725.0,749846.0,16531.0,5838115.0,46820.0

In [692]:
population_over = (aged_df['65 Years and Over Population']/53970920.0)*10
aged_df["Population % for 65 Years and Over"] = population_over

<ipython-input-692-84d930033a4e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aged_df["Population % for 65 Years and Over"] = population_over

In [693]:
deaths_data = (aged_df['65 Years and Over COVID Deaths']/aged_df['65 Years and Over Population'] * 100)
aged_df["65 Years and Over Crude Mortality Rate (%)"] = deaths_data

<ipython-input-693-7be2f73fb42b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aged_df["65 Years and Over Crude Mortality Rate (%)"] = deaths_data

In [694]:
aged_df = aged_df[["State", "65 Years and Over Population", "65 Years and Over COVID Deaths", "65 Years and Over Crude Mortality Rate (%)" ]]
aged_df

,State,65 Years and Over Population,65 Years and Over COVID Deaths,65 Years and Over Crude Mortality Rate (%)
0,AL,849837.0,8260.0,0.971951
1,AK,91588.0,262.0,0.286064
2,AZ,1308633.0,11765.0,0.899030
3,AR,523882.0,4838.0,0.923490
4,CA,5838115.0,46820.0,0.801971
5,CO,842412.0,5482.0,0.650750
6,CT,630244.0,7015.0,1.113061
7,DE,188906.0,1230.0,0.651117
8,FL,4497337.0,27296.0,0.606937
9,GA,1516954.0,13275.0,0.875109
10,HI,268448.0,340.0,0.126654
11,ID,290670.0,1799.0,0.618915
12,IL,2043232.0,17562.0,0.859521
13,IN,1085743.0,11098.0,1.022157
14,IA,552954.0,5274.0,0.953786
15,KS,475487.0,4152.0,0.873210
16,KY,750564.0,6140.0,0.818051
17,LA,741022.0,7321.0,0.987960
18,ME,285265.0,813.0,0.284998
19,MD,959396.0,7998.0,0.833650
20,MA,1169332.0,11842.0,1.012715
21,MI,1765401.0,13870.0,0.785657
22,MN,920382.0,6611.0,0.718289
23,MS,486693.0,5707.0,1.172608
24,MO,1062037.0,9224.0,0.868520
25,MT,206437.0,1343.0,0.650562
26,NE,312458.0,2413.0,0.772264
27,NV,495972.0,4195.0,0.845814
28,NH,253864.0,1225.0,0.482542
29,NJ,1475535.0,19030.0,1.289702
30,NM,377606.0,2854.0,0.755814
31,NY,3296146.0,20768.0,0.630069
32,NC,1751094.0,8997.0,0.513793
33,ND,119845.0,1481.0,1.235763
34,OH,2046320.0,19178.0,0.937195
35,OK,635132.0,6718.0,1.057733
36,OR,766080.0,2038.0,0.266030
37,PA,2393362.0,23908.0,0.998930
38,RI,187046.0,2351.0,1.256910
39,SC,937023.0,7227.0,0.771272
40,SD,151871.0,1745.0,1.149001
41,TN,1143393.0,10133.0,0.886222
42,TX,3734229.0,39057.0,1.045919
43,UT,365872.0,1884.0,0.514934
44,VT,125039.0,211.0,0.168747
45,VA,1358906.0,8903.0,0.655159
46,WA,1209723.0,4426.0,0.365869
47,WV,367011.0,2333.0,0.635676
48,WI,1017243.0,7078.0,0.695802
49,WY,99179.0,534.0,0.538420
50,USA,53970920.0,458645.0,0.849800

In [695]:
aged_df.to_csv("../jennie-folder/demographic_age.csv", index=False, header=True)

In [696]:
aged_df.style.format({
    '65 Years and Over Population': '{:,.2f}'.format,
    'Population % for 65 Years and Over': '{:,.2f}%'.format,
    '65 Years and Over COVID Deaths': '{:,.2f}'.format,
    '65 Years and Over Crude Mortality Rate': '{:,.2f}%'.format
})