In [151]:
import json
import requests
import numpy as np
import pandas as pd
from sodapy import Socrata
import datetime as datetime
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import matplotlib.pyplot as plt
from scipy.stats import linregress
pd.set_option('display.max_rows', None)

In [2]:
us_state_abbrev = {
    'United States': 'USA',
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York City':"NYC",
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY',
}

In [3]:
base_url = "https://data.cdc.gov/resource/9bhg-hcku.json"
response = requests.get(base_url)
cdc_data = response.json()

In [4]:
client = Socrata("data.cdc.gov", None)

results = client.get("9bhg-hcku", limit=6000)

results_df = pd.DataFrame.from_records(results)
#results_df

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [5]:
results_df = results_df.loc[results_df['group']=="By Total"]

In [6]:
sex_df = results_df.loc[results_df['age_group']=="All Ages"]

In [7]:
del sex_df['data_as_of']
del sex_df['start_date']
del sex_df['end_date']
del sex_df['group']
del sex_df['age_group']
del sex_df['total_deaths']
del sex_df['pneumonia_deaths']
del sex_df['pneumonia_and_covid_19_deaths']
del sex_df['influenza_deaths']
del sex_df['pneumonia_influenza_or_covid']
del sex_df['footnote']

In [8]:
male_df = sex_df.loc[sex_df["sex"]=="Male"]
#male_df

In [9]:
female_df = sex_df.loc[sex_df["sex"]=="Female"]
#female_df

In [10]:
merged_df = pd.merge(male_df, female_df, on='state')

In [11]:
#merged_df

In [12]:
all_df = sex_df.loc[sex_df["sex"]=="All Sexes"]
#all_df.head()

In [13]:
new_df = pd.merge(merged_df, all_df, how='left', on='state')

In [14]:
#new_df.head()

In [15]:
del new_df['sex_x']
del new_df['sex_y']
del new_df['sex']
del new_df['year']
del new_df['year_x']
del new_df['year_y']

In [16]:
new_df = new_df.rename(columns={"state":"State", "covid_19_deaths_x":"Male COVID-19 Deaths", "covid_19_deaths_y": "Female COVID-19 Deaths", "covid_19_deaths":"All Sexes COVID-19 Deaths"})

In [17]:
new_df = new_df.loc[new_df['State']!="Puerto Rico"]

In [18]:
#new_df

In [19]:
client = Socrata("data.cdc.gov", None)

results = client.get("9bhg-hcku", limit=6000)

results_df = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [20]:
results_df = results_df.loc[results_df['group']=="By Total"]

In [21]:
age_df = results_df.loc[results_df['sex']=="All Sexes"]

In [22]:
del age_df['data_as_of']
del age_df['start_date']
del age_df['end_date']
del age_df['group']
del age_df['sex']
del age_df['total_deaths']
del age_df['pneumonia_deaths']
del age_df['pneumonia_and_covid_19_deaths']
del age_df['influenza_deaths']
del age_df['pneumonia_influenza_or_covid']
del age_df['footnote']
del age_df['year']

In [23]:
#age_df

In [24]:
age_df["age_group"].value_counts()

30-39 years          54
5-14 years           54
50-64 years          54
65-74 years          54
0-17 years           54
55-64 years          54
All Ages             54
25-34 years          54
1-4 years            54
75-84 years          54
18-29 years          54
Under 1 year         54
15-24 years          54
45-54 years          54
40-49 years          54
35-44 years          54
85 years and over    54
Name: age_group, dtype: int64

In [25]:
age_df = age_df.loc[age_df['age_group'] != "18-29 years"]
age_df = age_df.loc[age_df['age_group'] != "0-17 years"]
age_df = age_df.loc[age_df['age_group'] != "Under 1 year"]
age_df = age_df.loc[age_df['age_group'] != "30-39 years"]
age_df = age_df.loc[age_df['age_group'] != "40-49 years"]
age_df = age_df.loc[age_df['age_group'] != "50-64 years"]

In [26]:
age_df = age_df.replace({"1-4 years":"Under 5 years"})
age_df['age_group'].value_counts()

5-14 years           54
25-34 years          54
75-84 years          54
All Ages             54
55-64 years          54
65-74 years          54
35-44 years          54
45-54 years          54
15-24 years          54
Under 5 years        54
85 years and over    54
Name: age_group, dtype: int64

In [27]:
#age_df.fillna(0)

In [28]:
under5_df = age_df.loc[age_df["age_group"]=="Under 5 years"]

In [29]:
year5_14_df = age_df.loc[age_df["age_group"]=="5-14 years"]

In [30]:
year15_24_df = age_df.loc[age_df["age_group"]=="15-24 years"]

In [31]:
year25_34_df = age_df.loc[age_df["age_group"]=="25-34 years"]

In [32]:
year35_44_df = age_df.loc[age_df["age_group"]=="35-44 years"]

In [33]:
year45_54_df = age_df.loc[age_df["age_group"]=="45-54 years"]

In [34]:
year55_64_df = age_df.loc[age_df["age_group"]=="55-64 years"]

In [35]:
year65_74_df = age_df.loc[age_df["age_group"]=="65-74 years"]

In [36]:
year75_84_df = age_df.loc[age_df["age_group"]=="75-84 years"]

In [37]:
year85_df = age_df.loc[age_df["age_group"]=="85 years and over"]

In [38]:
all_ages_df = age_df.loc[age_df["age_group"]=="All Ages"]

In [39]:
merged_age = pd.merge(under5_df, year5_14_df, on='state')
merged_age = pd.merge(merged_age, year15_24_df, on ='state')
#merged_age.head()

In [40]:
merged_age = merged_age.rename(columns={
                                "covid_19_deaths_x":"Under 5 Years COVID-19 Deaths", 
                                "covid_19_deaths_y": "5-14 Years COVID-19 Deaths", 
                                "covid_19_deaths":"15-24 Years COVID-19 Deaths"
                                       })
del merged_age['age_group_x']
del merged_age['age_group_y']
del merged_age['age_group']
#merged_age.head()

In [41]:
merged_age = pd.merge(merged_age, year25_34_df, on ='state')
merged_age = pd.merge(merged_age, year35_44_df, on ='state')
merged_age = merged_age.rename(columns={
                                "covid_19_deaths_x":"25-34 Years COVID-19 Deaths", 
                                "covid_19_deaths_y": "35-44 Years COVID-19 Deaths"
                                       })
del merged_age['age_group_x']
del merged_age['age_group_y']
#merged_age.head()

In [42]:
merged_age = pd.merge(merged_age, year45_54_df, on ='state')
merged_age = pd.merge(merged_age, year55_64_df, on ='state')
merged_age = merged_age.rename(columns={
                                "covid_19_deaths_x":"45-54 Years COVID-19 Deaths", 
                                "covid_19_deaths_y": "55-64 Years COVID-19 Deaths"
                                       })
del merged_age['age_group_x']
del merged_age['age_group_y']
#merged_age.head()

In [43]:
merged_age = pd.merge(merged_age, year65_74_df, on ='state')
merged_age = pd.merge(merged_age, year75_84_df, on ='state')
merged_age = merged_age.rename(columns={
                                "covid_19_deaths_x":"65-74 Years COVID-19 Deaths", 
                                "covid_19_deaths_y": "75-84 Years COVID-19 Deaths"
                                       })
del merged_age['age_group_x']
del merged_age['age_group_y']
#merged_age.head()

In [44]:
merged_age = pd.merge(merged_age, year85_df, on ='state')
merged_age = pd.merge(merged_age, all_ages_df, on='state')
merged_age = merged_age.rename(columns={
                                "covid_19_deaths_x":"85 Years and Over COVID-19 Deaths",
                                "covid_19_deaths_y":"All Ages COVID-19 Deaths"
                                       })
del merged_age['age_group_x']
del merged_age['age_group_y']
#merged_age.head()

In [45]:
merged_age = merged_age.fillna(0)

In [46]:
merged_age = merged_age.loc[merged_age['state']!='Puerto Rico']

In [47]:
merged_age = merged_age.rename(columns={"state":"State"})
#merged_age.head()

In [48]:
age_sex_df = pd.merge(new_df, merged_age, on='State')
#age_sex_df

In [49]:
age_sex_df = age_sex_df.fillna(0)
#age_sex_df

In [50]:
for index, row in age_sex_df.iterrows():
    state = row[0]
    age_sex_df.loc[index,"State"] = us_state_abbrev[state]

In [51]:
#age_sex_df

In [52]:
#age_sex_df.to_csv("../data-file/total-age-sex-data.csv", index=False, header=True)

In [53]:
population_df = pd.read_csv("../jennie-folder/Population_byCDCAgeGroup_byState.csv")

In [54]:
for index, row in population_df.iterrows():
    state = row[2]
    population_df.loc[index,"State"] = us_state_abbrev[state]

In [55]:
population_df = population_df[['State', 'CDC_AgeGroups', 'Population']]

In [56]:

under5_pop = population_df.loc[population_df['CDC_AgeGroups']=="Under 5 years"]
years5_14_pop = population_df.loc[population_df['CDC_AgeGroups']=="5-14 years"]
years15_24_pop = population_df.loc[population_df['CDC_AgeGroups']=="15-24 years"]
years25_34_pop = population_df.loc[population_df['CDC_AgeGroups']=="25-34 years"]
years35_44_pop = population_df.loc[population_df['CDC_AgeGroups']=="35-44 years"]
years45_54_pop = population_df.loc[population_df['CDC_AgeGroups']=="45-54 years"]
years55_64_pop = population_df.loc[population_df['CDC_AgeGroups']=="55-64 years"]
years65_74_pop = population_df.loc[population_df['CDC_AgeGroups']=="65-74 years"]
years75_84_pop = population_df.loc[population_df['CDC_AgeGroups']=="75-84 years"]
years85_pop = population_df.loc[population_df['CDC_AgeGroups']=="85 years and over"]
all_ages_pop = population_df.loc[population_df['CDC_AgeGroups']=="Total"]

In [57]:
merged_pop = pd.merge(under5_pop, years5_14_pop, on ='State')
merged_pop = pd.merge(merged_pop, years15_24_pop, on='State')
merged_pop = merged_pop.rename(columns={
                                "Population_x":"Under 5 Years Population",
                                "Population_y":"5-14 Years Population",
                                "Population":"15-24 Years Population"
                                       })
del merged_pop['CDC_AgeGroups_x']
del merged_pop['CDC_AgeGroups_y']
del merged_pop['CDC_AgeGroups']
#merged_pop.head()

In [58]:
merged_pop = pd.merge(merged_pop, years25_34_pop, on ='State')
merged_pop = pd.merge(merged_pop, years35_44_pop, on='State')
merged_pop = pd.merge(merged_pop, years45_54_pop, on='State')
merged_pop = merged_pop.rename(columns={
                                "Population_x":"25-34 Years Population",
                                "Population_y":"35-44 Years Population",
                                "Population":"45-54 Years Population"
                                       })
del merged_pop['CDC_AgeGroups_x']
del merged_pop['CDC_AgeGroups_y']
del merged_pop['CDC_AgeGroups']
#merged_pop.head()

In [59]:
merged_pop = pd.merge(merged_pop, years55_64_pop, on ='State')
merged_pop = pd.merge(merged_pop, years65_74_pop, on='State')
merged_pop = pd.merge(merged_pop, years75_84_pop, on='State')
merged_pop = merged_pop.rename(columns={
                                "Population_x":"55-64 Years Population",
                                "Population_y":"65-74 Years Population",
                                "Population":"75-84 Years Population"
                                       })
del merged_pop['CDC_AgeGroups_x']
del merged_pop['CDC_AgeGroups_y']
del merged_pop['CDC_AgeGroups']
#merged_pop.head()

In [60]:
merged_pop = pd.merge(merged_pop, years85_pop, on ='State')
merged_pop = pd.merge(merged_pop, all_ages_pop, on ='State')


merged_pop = merged_pop.rename(columns={
                                "Population_x":"85 Years and Over Population",
                                "Population_y":"Total Population"
                                       })

del merged_pop['CDC_AgeGroups_x']
del merged_pop['CDC_AgeGroups_y']
#merged_pop

In [61]:
merged_pop['Total Population'].sum()

327533774.0

In [62]:
new_row_pop = {'State':'USA', 'Under 5 Years Population':19531315.0, 
              '5-14 Years Population':40926765.0, 
              '15-24 Years Population':42599542.0,
              '25-34 Years Population':45775780.0,
              '35-44 Years Population':41550175.0,
              '45-54 Years Population':40800616.0,
              '55-64 Years Population':42378661.0,
              '65-74 Years Population':31433214.0,
              '75-84 Years Population':15944990.0,
              '85 Years and Over Population':6592716.0,
                'Total Population': 327533774.0
              
             }
#append row to the dataframe
merged_pop = merged_pop.append(new_row_pop, ignore_index=True)

In [63]:
new_dfff = pd.merge(age_sex_df, merged_pop, on='State')

In [64]:
new_dfff = new_dfff[['State', 'Male COVID-19 Deaths', 'Female COVID-19 Deaths', 'All Sexes COVID-19 Deaths',
                     'Under 5 Years COVID-19 Deaths', 'Under 5 Years Population',
                    '5-14 Years COVID-19 Deaths', '5-14 Years Population',
                    '15-24 Years COVID-19 Deaths', '15-24 Years Population',
                     '25-34 Years COVID-19 Deaths', '25-34 Years Population',
                     '35-44 Years COVID-19 Deaths', '35-44 Years Population',
                     '45-54 Years COVID-19 Deaths', '45-54 Years Population',
                     '55-64 Years COVID-19 Deaths', '55-64 Years Population',
                     '65-74 Years COVID-19 Deaths', '65-74 Years Population',
                     '75-84 Years COVID-19 Deaths', '75-84 Years Population',
                     '85 Years and Over COVID-19 Deaths', '85 Years and Over Population',
                     'All Ages COVID-19 Deaths', 'Total Population'
                    ]]
new_dfff.head()

,State,Male COVID-19 Deaths,Female COVID-19 Deaths,All Sexes COVID-19 Deaths,Under 5 Years COVID-19 Deaths,Under 5 Years Population,5-14 Years COVID-19 Deaths,5-14 Years Population,15-24 Years COVID-19 Deaths,15-24 Years Population,...,55-64 Years COVID-19 Deaths,55-64 Years Population,65-74 Years COVID-19 Deaths,65-74 Years Population,75-84 Years COVID-19 Deaths,75-84 Years Population,85 Years and Over COVID-19 Deaths,85 Years and Over Population,All Ages COVID-19 Deaths,Total Population
0,USA,317561,261468,579029,36,19531315.0,108,40926765.0,905,42599542.0,...,72612,42378661.0,128643,31433214.0,159427,15944990.0,174000,6592716.0,579029,327533774.0
1,AL,5723,4982,10705,0,294357.0,0,608466.0,11,635707.0,...,1493,657667.0,2787,501447.0,3070,256847.0,2455,91543.0,10705,4903185.0
2,AK,198,140,338,0,51080.0,0,100662.0,0,96393.0,...,41,93339.0,86,61300.0,99,23107.0,78,7181.0,338,731545.0
3,AZ,9277,6482,15759,0,429788.0,0,930745.0,48,973547.0,...,2299,880794.0,3761,751699.0,4493,411197.0,3548,145737.0,15759,7278717.0
4,AR,3107,2876,5983,0,188464.0,0,393213.0,0,397538.0,...,728,385994.0,1347,302829.0,1767,161141.0,1743,59912.0,5983,3017804.0

In [65]:
#new_dfff.to_csv("../data-file/total-pop-death-data.csv", index=False, header=True)

In [66]:
base_url = "https://api.census.gov/data/2019/acs/acs1?get=NAME,B01001_002E,B01001_026E&for=state:*"
response = requests.get(base_url)


response = requests.get(base_url)
census_data = response.json()

In [67]:
df = pd.DataFrame(census_data[1:], columns=census_data[0])
df = df.sort_values(by=['state'])

In [68]:
df = df.rename(columns={"B01001_002E":'Male Population', 'B01001_026E':'Female Population'})

In [69]:
df["Male Population"] = pd.to_numeric(df["Male Population"], downcast="float")
df["Female Population"] = pd.to_numeric(df["Female Population"], downcast="float")

In [70]:
new_row = {'NAME':'United States', 'Male Population':163104960.0, 
              'Female Population':168328240.0
             }
#append row to the dataframe
df = df.append(new_row, ignore_index=True)

In [71]:
df = df.drop(columns=['state'])

In [72]:
df = df.drop([8, 51])

In [73]:
df = df.reset_index(drop=True)

In [74]:
for index, row in df.iterrows():
    state = row[0]
    df.loc[index,"NAME"] = us_state_abbrev[state]

In [75]:
df = df.rename(columns={'NAME': 'State'})

In [76]:
pop_merged = pd.merge(df, new_dfff, on = 'State')

In [77]:
pop_merged = pop_merged[['State', 'Male COVID-19 Deaths', 'Male Population', 'Female COVID-19 Deaths', 'Female Population',
                     'All Sexes COVID-19 Deaths', 'Under 5 Years COVID-19 Deaths', 'Under 5 Years Population',
                    '5-14 Years COVID-19 Deaths', '5-14 Years Population',
                    '15-24 Years COVID-19 Deaths', '15-24 Years Population',
                     '25-34 Years COVID-19 Deaths', '25-34 Years Population',
                     '35-44 Years COVID-19 Deaths', '35-44 Years Population',
                     '45-54 Years COVID-19 Deaths', '45-54 Years Population',
                     '55-64 Years COVID-19 Deaths', '55-64 Years Population',
                     '65-74 Years COVID-19 Deaths', '65-74 Years Population',
                     '75-84 Years COVID-19 Deaths', '75-84 Years Population',
                     '85 Years and Over COVID-19 Deaths', '85 Years and Over Population',
                     'All Ages COVID-19 Deaths', 'Total Population'
                    ]]
#pop_merged.head()

In [78]:
sex_df = pop_merged[["State", "Male COVID-19 Deaths", "Male Population", "Female COVID-19 Deaths", "Female Population"]]
sex_df.head()
sex_df["Male COVID-19 Deaths"] = pd.to_numeric(sex_df["Male COVID-19 Deaths"], downcast="float")
sex_df["Female COVID-19 Deaths"] = pd.to_numeric(sex_df["Female COVID-19 Deaths"], downcast="float")
#sex_df.head()

<ipython-input-78-993a2603428d>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sex_df["Male COVID-19 Deaths"] = pd.to_numeric(sex_df["Male COVID-19 Deaths"], downcast="float")
<ipython-input-78-993a2603428d>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sex_df["Female COVID-19 Deaths"] = pd.to_numeric(sex_df["Female COVID-19 Deaths"], downcast="float")

In [79]:
sex_df['Crude Male Mortality Rate (%)'] = sex_df['Male COVID-19 Deaths']/sex_df['Male Population']*100
sex_df['Crude Female Mortality Rate (%)'] = sex_df['Female COVID-19 Deaths']/sex_df['Female Population']*100

<ipython-input-79-060592bdaa90>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sex_df['Crude Male Mortality Rate (%)'] = sex_df['Male COVID-19 Deaths']/sex_df['Male Population']*100
<ipython-input-79-060592bdaa90>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sex_df['Crude Female Mortality Rate (%)'] = sex_df['Female COVID-19 Deaths']/sex_df['Female Population']*100

In [80]:
sex_df = sex_df[['State', 'Male COVID-19 Deaths', 'Male Population', 'Crude Male Mortality Rate (%)', 'Female COVID-19 Deaths', 'Female Population', 'Crude Female Mortality Rate (%)']]

In [81]:
sex_df['total pop'] = sex_df['Male Population'] + sex_df['Female Population']
#sex_df.head()

In [82]:
sex_df['Male Population (%)'] = sex_df['Male Population']/sex_df['total pop'] *100
sex_df['Female Population (%)'] = sex_df['Female Population']/sex_df['total pop']*100
#sex_df.head()

In [83]:
sex_df = sex_df[['State', 'Male Population (%)', 'Crude Male Mortality Rate (%)', 'Female Population (%)', 'Crude Female Mortality Rate (%)']]
#sex_df.head()

In [84]:
#sex_df.to_csv("../jennie-folder/demographic_sex.csv", index=False, header=True)

In [85]:
race_url = "https://data.cdc.gov/resource/pj7m-y5uh.json"
response = requests.get(race_url)
race_data = response.json()

In [86]:
client = Socrata("data.cdc.gov", None)

race_results = client.get("pj7m-y5uh", limit=6000)

race_df = pd.DataFrame.from_records(race_results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [87]:
race_df = race_df.loc[race_df['group']=="By Total"]
race_df = race_df.loc[race_df['indicator']=="Count of COVID-19 deaths"]

In [88]:
race_df = race_df.drop(columns=['data_as_of', 'start_week', 'end_week', 'year', 'group', 'indicator', 'month', 'footnote'])

In [89]:
race_df = race_df.rename(columns={'state':'State', 'non_hispanic_white': "White Deaths",
                                  'non_hispanic_black_african_american':'Black/African American Deaths',
                                 'non_hispanic_american_indian_alaska_native':'American Indian/Alaska Native Deaths',
                                  'non_hispanic_asian_pacific_islander':'Asian Pacific Islander Deaths',
                                  'nh_nhopi':'Native Hawaiian/Other Pacific Islander Deaths',
                                  'non_hispanic_more_than_one_race':'More than one Race Deaths',
                                  'hispanic_latino_total':'Hispanic/Latino Deaths'
                                 })
#race_df.head()

In [90]:
race_df = race_df.reset_index(drop=True)

In [91]:
for index, row in race_df.iterrows():
    state = row[0]
    race_df.loc[index,"State"] = us_state_abbrev[state]

In [92]:
race_df = race_df.fillna(0)

In [93]:
race_pop_url = "https://api.census.gov/data/2019/acs/acs1?get=NAME,B01001A_001E,B01001B_001E,B01001C_001E,B01001D_001E,B01001E_001E,B01001G_002E,B01001I_001E&for=state:*"
response = requests.get(race_pop_url)


race_pop_response = requests.get(race_pop_url)
race_pop_data = race_pop_response.json()

In [94]:
race_pop_df = pd.DataFrame(race_pop_data[1:], columns=race_pop_data[0])
race_pop_df = race_pop_df.sort_values(by=['state'])

In [95]:
race_pop_df = race_pop_df.reset_index(drop=True)

In [96]:
race_pop_df = race_pop_df.rename(columns={'NAME':'State','B01001A_001E':'White Population',
                                          'B01001B_001E':'Black/African American Population',
                                          'B01001C_001E':'American Indian/Alaska Native Population',
                                          'B01001D_001E':'Asian Population',
                                          'B01001E_001E':'Native Hawaiian/Other Pacific Islander Population',
                                          'B01001G_002E':'More than one Race Population',
                                          'B01001I_001E':'Hispanic/Latino Population'
                                         })
#race_pop_df.head()

In [97]:
race_pop_df = race_pop_df.fillna(0)

In [98]:
race_pop_df["White Population"] = pd.to_numeric(race_pop_df["White Population"], downcast="float")
race_pop_df["Black/African American Population"] = pd.to_numeric(race_pop_df["Black/African American Population"], downcast="float")
race_pop_df["American Indian/Alaska Native Population"] = pd.to_numeric(race_pop_df["American Indian/Alaska Native Population"], downcast="float")
race_pop_df["Asian Population"] = pd.to_numeric(race_pop_df["Asian Population"], downcast="float")
race_pop_df["Native Hawaiian/Other Pacific Islander Population"] = pd.to_numeric(race_pop_df["Native Hawaiian/Other Pacific Islander Population"], downcast="float")
race_pop_df["More than one Race Population"] = pd.to_numeric(race_pop_df["More than one Race Population"], downcast="float")
race_pop_df["Hispanic/Latino Population"] = pd.to_numeric(race_pop_df["Hispanic/Latino Population"], downcast="float")

In [99]:
new_row_race = {'State':'United States', 'White Population':238530160.0, 
              'Black/African American Population':42357500.0,
               'American Indian/Alaska Native Population':2815045.0,
               'Asian Population':18632352.0,
               'Native Hawaiian/Other Pacific Islander Population':496290.0,
               'More than one Race Population':5752848.0,
               'Hispanic/Latino Population':63616508.0
             }
#append row to the dataframe
race_pop_df = race_pop_df.append(new_row_race, ignore_index=True)
#race_pop_df.head()

In [100]:
race_pop_df = race_pop_df.drop(columns=['state'])

In [101]:
race_pop_df = race_pop_df.drop([8, 51])

In [102]:
race_pop_df = race_pop_df.reset_index(drop=True)

In [103]:
for index, row in race_pop_df.iterrows():
    state = row[0]
    race_pop_df.loc[index,"State"] = us_state_abbrev[state]

In [104]:
#race_pop_df

In [105]:
race_merge = pd.merge(race_df, race_pop_df, on ='State')

In [106]:
race_merge = race_merge[['State', 
                         'White Deaths', 'White Population', 
                         'Black/African American Deaths', 'Black/African American Population',
                         'American Indian/Alaska Native Deaths', 'American Indian/Alaska Native Population', 
                         'Asian Pacific Islander Deaths', 'Asian Population',
                         'Native Hawaiian/Other Pacific Islander Deaths', 'Native Hawaiian/Other Pacific Islander Population',
                         'More than one Race Deaths', 'More than one Race Population',
                         'Hispanic/Latino Deaths', 'Hispanic/Latino Population'
                    ]]
race_merge.head()

,State,White Deaths,White Population,Black/African American Deaths,Black/African American Population,American Indian/Alaska Native Deaths,American Indian/Alaska Native Population,Asian Pacific Islander Deaths,Asian Population,Native Hawaiian/Other Pacific Islander Deaths,Native Hawaiian/Other Pacific Islander Population,More than one Race Deaths,More than one Race Population,Hispanic/Latino Deaths,Hispanic/Latino Population
0,USA,351618,238530160.0,86569,42357500.0,6533,2815045.0,22313,18632352.0,1057,496290.0,1888,5752848.0,107105,63616508.0
1,AL,7280,3326375.0,3150,1319551.0,17,23265.0,48,66129.0,0,0.0,0,42835.0,191,219296.0
2,AK,135,469771.0,0,22551.0,114,115544.0,34,43678.0,20,0.0,10,28459.0,15,52548.0
3,AZ,8116,5701810.0,509,343729.0,1609,332273.0,328,241721.0,36,14168.0,143,146550.0,4863,2310592.0
4,AR,4688,2315020.0,890,467468.0,40,17216.0,47,46078.0,58,12829.0,24,42358.0,236,231951.0

In [107]:
demographic_age = pd.merge(pop_merged, race_merge, how='left', on='State')
#demographic_age.head()

In [108]:
demographic_df = pd.read_csv("../jennie-folder/CRDT Data - CRDT.csv")

In [109]:
print(demographic_df.columns.tolist())

['Date', 'State', 'Cases_Total', 'Cases_White', 'Cases_Black', 'Cases_Latinx', 'Cases_Asian', 'Cases_AIAN', 'Cases_NHPI', 'Cases_Multiracial', 'Cases_Other', 'Cases_Unknown', 'Cases_Ethnicity_Hispanic', 'Cases_Ethnicity_NonHispanic', 'Cases_Ethnicity_Unknown', 'Deaths_Total', 'Deaths_White', 'Deaths_Black', 'Deaths_Latinx', 'Deaths_Asian', 'Deaths_AIAN', 'Deaths_NHPI', 'Deaths_Multiracial', 'Deaths_Other', 'Deaths_Unknown', 'Deaths_Ethnicity_Hispanic', 'Deaths_Ethnicity_NonHispanic', 'Deaths_Ethnicity_Unknown', 'Hosp_Total', 'Hosp_White', 'Hosp_Black', 'Hosp_Latinx', 'Hosp_Asian', 'Hosp_AIAN', 'Hosp_NHPI', 'Hosp_Multiracial', 'Hosp_Other', 'Hosp_Unknown', 'Hosp_Ethnicity_Hispanic', 'Hosp_Ethnicity_NonHispanic', 'Hosp_Ethnicity_Unknown', 'Tests_Total', 'Tests_White', 'Tests_Black', 'Tests_Latinx', 'Tests_Asian', 'Tests_AIAN', 'Tests_NHPI', 'Tests_Multiracial', 'Tests_Other', 'Tests_Unknown', 'Tests_Ethnicity_Hispanic', 'Tests_Ethnicity_NonHispanic', 'Tests_Ethnicity_Unknown']

In [110]:
us_row = {'State':'USA', 'Cases_Total':973233885.0, 
              'Cases_White':328779224.0,
          'Cases_Black':90625703.0,
          'Cases_Latinx':126799688.0,
          'Cases_Asian':17872268.0,
          'Cases_AIAN':7717493.0,
          'Cases_NHPI':2036023.0,
          'Cases_Multiracial':4972311.0,
          'Cases_Ethnicity_Hispanic':155679737.0
             }
#append row to the dataframe
demographic_df = demographic_df.append(us_row, ignore_index=True)

In [111]:
demographic_df = demographic_df.groupby('State').sum()
demographic_df = demographic_df[["Cases_Total", "Cases_White", "Cases_Black","Cases_Latinx", "Cases_Asian", "Cases_AIAN", "Cases_NHPI", "Cases_Multiracial", "Cases_Ethnicity_Hispanic"]]
#demographic_df

In [112]:
death_rate_eth = pd.merge(race_merge, demographic_df, on='State')

In [113]:
death_rate_eth = death_rate_eth[['State',
                         'Cases_White','White Deaths', 'White Population', 
                         'Cases_Black', 'Black/African American Deaths', 'Black/African American Population',
                         'Cases_AIAN','American Indian/Alaska Native Deaths', 'American Indian/Alaska Native Population', 
                         'Cases_Asian','Asian Pacific Islander Deaths', 'Asian Population',
                         'Cases_NHPI','Native Hawaiian/Other Pacific Islander Deaths', 'Native Hawaiian/Other Pacific Islander Population',
                         'Cases_Multiracial', 'More than one Race Deaths', 'More than one Race Population',
                         'Cases_Ethnicity_Hispanic','Hispanic/Latino Deaths', 'Hispanic/Latino Population'
                    ]]
death_rate_eth.head()

death_rate_eth['total pop'] = death_rate_eth['White Population'] + death_rate_eth['Black/African American Population'] + death_rate_eth['American Indian/Alaska Native Population'] + death_rate_eth['Asian Population'] + death_rate_eth['Native Hawaiian/Other Pacific Islander Population'] + death_rate_eth['More than one Race Population'] + death_rate_eth['Hispanic/Latino Population']
#death_rate_eth.head()

In [114]:
death_rate_eth["White Deaths"] = pd.to_numeric(death_rate_eth["White Deaths"], downcast="float")
death_rate_eth["Black/African American Deaths"] = pd.to_numeric(death_rate_eth["Black/African American Deaths"], downcast="float")
death_rate_eth["American Indian/Alaska Native Deaths"] = pd.to_numeric(death_rate_eth["American Indian/Alaska Native Deaths"], downcast="float")
death_rate_eth["Native Hawaiian/Other Pacific Islander Deaths"] = pd.to_numeric(death_rate_eth["Native Hawaiian/Other Pacific Islander Deaths"], downcast="float")
death_rate_eth["Asian Pacific Islander Deaths"] = pd.to_numeric(death_rate_eth["Asian Pacific Islander Deaths"], downcast="float")
death_rate_eth["More than one Race Deaths"] = pd.to_numeric(death_rate_eth["More than one Race Deaths"], downcast="float")
death_rate_eth["Hispanic/Latino Deaths"] = pd.to_numeric(death_rate_eth["Hispanic/Latino Deaths"], downcast="float")

In [115]:
white_dr = death_rate_eth['White Deaths']/death_rate_eth['Cases_White']*100
death_rate_eth['White Fatality Rate (%)'] = white_dr

white_pop = death_rate_eth['White Population']/death_rate_eth['total pop']*100
death_rate_eth['White Population (%)'] = white_pop

black_dr = death_rate_eth['Black/African American Deaths']/death_rate_eth['Cases_Black']*100
death_rate_eth['Black Fatality Rate (%)'] = black_dr

black_pop = death_rate_eth['Black/African American Population']/death_rate_eth['total pop']*100
death_rate_eth['Black/African American Population (%)'] = black_pop

AIAN_dr = death_rate_eth['American Indian/Alaska Native Deaths']/death_rate_eth['Cases_AIAN']*100
death_rate_eth['AIAN Fatality Rate (%)'] = AIAN_dr

AIAN_pop = death_rate_eth['American Indian/Alaska Native Population']/death_rate_eth['total pop']*100
death_rate_eth['AIAN Population (%)'] = AIAN_pop

ASIAN_dr = death_rate_eth['Asian Pacific Islander Deaths']/death_rate_eth['Cases_Asian']*100
death_rate_eth['Asian Fatality Rate (%)'] = ASIAN_dr

asian_pop = death_rate_eth['Asian Population']/death_rate_eth['total pop']*100
death_rate_eth['Asian Population (%)'] = asian_pop

NHPI_dr = death_rate_eth['Native Hawaiian/Other Pacific Islander Deaths']/death_rate_eth['Cases_NHPI']*100
death_rate_eth['NHPI Fatality Rate (%)'] = NHPI_dr

NHPI_pop = death_rate_eth['Native Hawaiian/Other Pacific Islander Population']/death_rate_eth['total pop']*100
death_rate_eth['NHPI Population (%)'] = NHPI_pop

multiple_dr = death_rate_eth['More than one Race Deaths']/death_rate_eth['Cases_Multiracial']*100
death_rate_eth['Multiracial Fatality Rate (%)'] = multiple_dr

multiple_pop = death_rate_eth['More than one Race Population']/death_rate_eth['total pop']*100
death_rate_eth['Multiracial Population (%)'] = multiple_pop

hispanic_dr = death_rate_eth['Hispanic/Latino Deaths']/death_rate_eth['Cases_Ethnicity_Hispanic']*100
death_rate_eth['Hispanic Fatality Rate (%)'] = hispanic_dr

hispanic_pop = death_rate_eth['Hispanic/Latino Population']/death_rate_eth['total pop']*100
death_rate_eth['Hispanic Population (%)'] = hispanic_pop

In [116]:
death_rate_eth = death_rate_eth[['State',
                         'White Fatality Rate (%)', 'White Population (%)',
                         'Black Fatality Rate (%)', 'Black/African American Population (%)',
                         'AIAN Fatality Rate (%)', 'AIAN Population (%)',
                         'Asian Fatality Rate (%)', 'Asian Population (%)',
                         'NHPI Fatality Rate (%)', 'NHPI Population (%)',
                         'Multiracial Fatality Rate (%)', 'Multiracial Population (%)',
                         'Hispanic Fatality Rate (%)', 'Hispanic Population (%)'
                    ]]

death_rate_eth = death_rate_eth.replace([np.inf, -np.inf], np.nan)
death_rate_eth = death_rate_eth.fillna(0)
#death_rate_eth

In [117]:
#death_rate_eth.to_csv("../jennie-folder/demographic_ethnicity.csv", index=False, header=True)

In [118]:
aged_df = demographic_age[["State", "Under 5 Years Population", "5-14 Years Population", "15-24 Years Population", "25-34 Years Population", "35-44 Years Population", "45-54 Years Population", "55-64 Years Population", "65-74 Years Population", "65-74 Years COVID-19 Deaths", "75-84 Years Population","75-84 Years COVID-19 Deaths", "85 Years and Over Population", "85 Years and Over COVID-19 Deaths", "Total Population"]]
aged_df.head()

,State,Under 5 Years Population,5-14 Years Population,15-24 Years Population,25-34 Years Population,35-44 Years Population,45-54 Years Population,55-64 Years Population,65-74 Years Population,65-74 Years COVID-19 Deaths,75-84 Years Population,75-84 Years COVID-19 Deaths,85 Years and Over Population,85 Years and Over COVID-19 Deaths,Total Population
0,AL,294357.0,608466.0,635707.0,647229.0,593306.0,616616.0,657667.0,501447.0,2787,256847.0,3070,91543.0,2455,4903185.0
1,AK,51080.0,100662.0,96393.0,117588.0,95765.0,85130.0,93339.0,61300.0,86,23107.0,99,7181.0,78,731545.0
2,AZ,429788.0,930745.0,973547.0,1007093.0,896027.0,852090.0,880794.0,751699.0,3761,411197.0,4493,145737.0,3548,7278717.0
3,AR,188464.0,393213.0,397538.0,396868.0,370263.0,361582.0,385994.0,302829.0,1347,161141.0,1767,59912.0,1743,3017804.0
4,CA,2383716.0,5007987.0,5180973.0,6052952.0,5282100.0,4979745.0,4786635.0,3386670.0,14608,1701599.0,15764,749846.0,16571,39512223.0

In [119]:
aged_df["65-74 Years COVID-19 Deaths"] = aged_df["65-74 Years COVID-19 Deaths"].astype(float)
aged_df["75-84 Years COVID-19 Deaths"] = aged_df["75-84 Years COVID-19 Deaths"].astype(float)
aged_df["85 Years and Over COVID-19 Deaths"] = aged_df["85 Years and Over COVID-19 Deaths"].astype(float)

<ipython-input-119-2b0fc69b8258>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aged_df["65-74 Years COVID-19 Deaths"] = aged_df["65-74 Years COVID-19 Deaths"].astype(float)
<ipython-input-119-2b0fc69b8258>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aged_df["75-84 Years COVID-19 Deaths"] = aged_df["75-84 Years COVID-19 Deaths"].astype(float)
<ipython-input-119-2b0fc69b8258>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aged_df["85 Years and Over COVID-19 Deaths"] = aged_df["85 Years and Over COVID-19 Deaths"].astype(float)

In [120]:
aged_df['65 Years and Over Population'] = aged_df['65-74 Years Population'] + aged_df['75-84 Years Population'] + aged_df['85 Years and Over Population']
#aged_df.head()

<ipython-input-120-26ed2b89816f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aged_df['65 Years and Over Population'] = aged_df['65-74 Years Population'] + aged_df['75-84 Years Population'] + aged_df['85 Years and Over Population']

In [121]:
aged_df['65 Years and Over COVID Deaths'] = aged_df['65-74 Years COVID-19 Deaths'] + aged_df['75-84 Years COVID-19 Deaths'] + aged_df['85 Years and Over COVID-19 Deaths']
aged_df.head()

<ipython-input-121-cae404275036>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aged_df['65 Years and Over COVID Deaths'] = aged_df['65-74 Years COVID-19 Deaths'] + aged_df['75-84 Years COVID-19 Deaths'] + aged_df['85 Years and Over COVID-19 Deaths']

,State,Under 5 Years Population,5-14 Years Population,15-24 Years Population,25-34 Years Population,35-44 Years Population,45-54 Years Population,55-64 Years Population,65-74 Years Population,65-74 Years COVID-19 Deaths,75-84 Years Population,75-84 Years COVID-19 Deaths,85 Years and Over Population,85 Years and Over COVID-19 Deaths,Total Population,65 Years and Over Population,65 Years and Over COVID Deaths
0,AL,294357.0,608466.0,635707.0,647229.0,593306.0,616616.0,657667.0,501447.0,2787.0,256847.0,3070.0,91543.0,2455.0,4903185.0,849837.0,8312.0
1,AK,51080.0,100662.0,96393.0,117588.0,95765.0,85130.0,93339.0,61300.0,86.0,23107.0,99.0,7181.0,78.0,731545.0,91588.0,263.0
2,AZ,429788.0,930745.0,973547.0,1007093.0,896027.0,852090.0,880794.0,751699.0,3761.0,411197.0,4493.0,145737.0,3548.0,7278717.0,1308633.0,11802.0
3,AR,188464.0,393213.0,397538.0,396868.0,370263.0,361582.0,385994.0,302829.0,1347.0,161141.0,1767.0,59912.0,1743.0,3017804.0,523882.0,4857.0
4,CA,2383716.0,5007987.0,5180973.0,6052952.0,5282100.0,4979745.0,4786635.0,3386670.0,14608.0,1701599.0,15764.0,749846.0,16571.0,39512223.0,5838115.0,46943.0

In [122]:
population_over = (aged_df['65 Years and Over Population']/53970920.0)*10
aged_df["Population % for 65 Years and Over"] = population_over

<ipython-input-122-84d930033a4e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aged_df["Population % for 65 Years and Over"] = population_over

In [123]:
pop_perc = aged_df['65 Years and Over Population']/aged_df['Total Population'] *100
aged_df["Over 65 Population (%)"] = pop_perc

<ipython-input-123-38cd54857957>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aged_df["Over 65 Population (%)"] = pop_perc

In [124]:
deaths_data = (aged_df['65 Years and Over COVID Deaths']/aged_df['Total Population'] * 100)
aged_df["65 Years and Over Crude Mortality Rate (%)"] = deaths_data

<ipython-input-124-b3b5ba754029>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aged_df["65 Years and Over Crude Mortality Rate (%)"] = deaths_data

In [125]:
aged_df = aged_df[["State", "Over 65 Population (%)", "65 Years and Over Crude Mortality Rate (%)", '65 Years and Over COVID Deaths' ]]
aged_df

,State,Over 65 Population (%),65 Years and Over Crude Mortality Rate (%),65 Years and Over COVID Deaths
0,AL,17.332346,0.169522,8312.0
1,AK,12.519804,0.035951,263.0
2,AZ,17.978897,0.162144,11802.0
3,AR,17.359709,0.160945,4857.0
4,CA,14.775466,0.118806,46943.0
5,CO,14.628418,0.096375,5550.0
6,CT,17.677230,0.197544,7043.0
7,DE,19.399567,0.126827,1235.0
8,FL,20.939529,0.128342,27565.0
9,GA,14.287403,0.125708,13347.0
10,HI,18.959906,0.024084,341.0
11,ID,16.265217,0.101451,1813.0
12,IL,16.124218,0.139364,17660.0
13,IN,16.127565,0.165993,11175.0
14,IA,17.525887,0.167667,5290.0
15,KS,16.321172,0.142964,4165.0
16,KY,16.799887,0.137947,6163.0
17,LA,15.940091,0.158019,7346.0
18,ME,21.221727,0.061300,824.0
19,MD,15.869116,0.133203,8053.0
20,MA,16.965274,0.172274,11874.0
21,MI,17.677243,0.141796,14161.0
22,MN,16.319895,0.118040,6657.0
23,MS,16.353113,0.192732,5736.0
24,MO,17.304268,0.150975,9266.0
25,MT,19.315237,0.126125,1348.0
26,NE,16.152642,0.125516,2428.0
27,NV,16.102171,0.136974,4219.0
28,NH,18.670438,0.090460,1230.0
29,NJ,16.612288,0.215138,19109.0
30,NM,18.008431,0.136921,2871.0
31,NY,16.943664,0.107230,20860.0
32,NC,16.696033,0.093830,9841.0
33,ND,15.726411,0.194341,1481.0
34,OH,17.506224,0.164966,19283.0
35,OK,16.050964,0.170686,6754.0
36,OR,18.163295,0.049244,2077.0
37,PA,18.695236,0.187908,24056.0
38,RI,17.656493,0.222209,2354.0
39,SC,18.199166,0.140948,7257.0
40,SD,17.167180,0.197816,1750.0
41,TN,16.742772,0.149593,10216.0
42,TX,12.878481,0.135288,39228.0
43,UT,11.412252,0.058828,1886.0
44,VT,20.038655,0.034295,214.0
45,VA,15.920602,0.105184,8978.0
46,WA,15.886277,0.058583,4461.0
47,WV,20.478845,0.132746,2379.0
48,WI,17.471095,0.122200,7115.0
49,WY,17.136494,0.092958,538.0
50,USA,16.477971,0.141076,462070.0

In [126]:
merge_dff = pd.merge(aged_df, sex_df, how='left', on='State')
#merge_dff

In [127]:
final_df = pd.merge(merge_dff, death_rate_eth, how='left', on='State')
final_df = final_df.round(decimals=2)
#final_df.head()

In [128]:
test_url = "https://covid.cdc.gov/covid-data-tracker/COVIDData/getAjaxData?id=vaccination_data"
response = requests.get(test_url)
test_data = response.json()

client = Socrata("data.cdc.gov", None)


results = client.get("9mfq-cb36", limit=25000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [133]:
results_df.head()

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,new_death,pnew_death,created_at,consent_cases,consent_deaths,conf_death,prob_death
0,2021-03-11T00:00:00.000,KS,297229,241035.0,56194,0.0,0,4851,0.0,0,2021-03-12T15:20:13.190,Agree,N/A,NaN,NaN
1,2021-02-12T00:00:00.000,UT,359641,359641.0,0,1060.0,0,1785,11.0,2,2021-02-13T14:50:08.565,Agree,Agree,1729.0,56
2,2020-04-16T00:00:00.000,TX,16455,NaN,NaN,963.0,0,551,32.0,NaN,2020-04-17T00:00:00.000,Not agree,Not agree,NaN,NaN
3,2020-05-17T00:00:00.000,RMI,0,0.0,0,0.0,0,0,0.0,0,2020-05-18T16:01:54.000,Agree,Agree,0.0,0
4,2020-07-27T00:00:00.000,NY,188293,NaN,NaN,318.0,0,8822,2.0,0,2020-07-28T14:21:07.479,Not agree,Not agree,NaN,NaN

In [134]:
r_dff = results_df[["submission_date","state","tot_cases","new_case","tot_death","new_death"]]
new_cases = r_dff["new_case"].astype(float)
total_cases = r_dff["tot_cases"].astype(float)
total_deaths = r_dff["tot_death"].astype(float)
new_deaths = r_dff["new_death"].astype(float)

In [135]:
date = r_dff["submission_date"]
states = r_dff["state"]
new_dfff = pd.DataFrame({"Date":date,"Year":"", "Month":"","Week":"","State": states,"Covid_19_Cases": new_cases, "Cum_Covid_19_Cases":total_cases,"Covid_19_Deaths": new_deaths,"Cum_Covid19_Deaths": total_deaths,"Death_Rate":100*total_deaths/total_cases})

In [136]:
for index, row in new_dfff.iterrows():
    # Calculate Year, Month and Week
    year = int(row[0][:4])
    month = int(row[0][5:7])
    new_dfff.loc[index,"Year"] = year
    new_dfff.loc[index,"Month"] = month
    
    week = datetime.date(int(row[0][:4]),int(row[0][5:7]),int(row[0][8:10])).isocalendar()[1]
    new_dfff.loc[index,"Week"] = week

In [137]:
new_dfff = new_dfff.loc[new_dfff['Year']==new_dfff['Year'].max()]
new_dfff = new_dfff.loc[new_dfff['Month'] == new_dfff['Month'].max()]
#new_dfff.head()

In [138]:
new_dfff = new_dfff.groupby(['State'])

In [139]:
Cum_Covid_Cases = new_dfff["Cum_Covid_19_Cases"].max()
Cum_Covid_Deaths = new_dfff["Cum_Covid19_Deaths"].max()
Covid_Death_Rate = 100*Cum_Covid_Deaths/Cum_Covid_Cases

In [140]:
df_Final = pd.DataFrame({"Cum_Covid_Cases":Cum_Covid_Cases,"Cum_Covid_Deaths":Cum_Covid_Deaths,
                         "Covid_Death_Rate":Covid_Death_Rate})

#df_Final.head()

In [141]:
death_df = pd.merge(df_Final, final_df, how='left', on='State')
#death_df

In [142]:
death_df = death_df.drop([3, 8, 11, 13, 28, 39, 44, 45, 47, 54])
death_df = death_df.reset_index(drop=True)
#death_df.head()

In [143]:
#death_df = death_df.drop(columns=['Cum_Covid_Cases'])
#death_df.head()

In [146]:
death_df = death_df.rename(columns={'Covid_Death_Rate':'COVID-19 Death Rate (%)'})
death_df.head()

,State,Cum_Covid_Cases,Cum_Covid_Deaths,COVID-19 Death Rate (%),Over 65 Population (%),65 Years and Over Crude Mortality Rate (%),65 Years and Over COVID Deaths,Male Population (%),Crude Male Mortality Rate (%),Female Population (%),...,AIAN Fatality Rate (%),AIAN Population (%),Asian Fatality Rate (%),Asian Population (%),NHPI Fatality Rate (%),NHPI Population (%),Multiracial Fatality Rate (%),Multiracial Population (%),Hispanic Fatality Rate (%),Hispanic Population (%)
0,AK,67403.0,362.0,0.537068,12.52,0.04,263.0,52.00,0.05,48.00,...,0.03,15.77,0.05,5.96,0.04,0.00,0.01,3.88,0.01,7.17
1,AL,543938.0,11154.0,2.050601,17.33,0.17,8312.0,48.33,0.24,51.67,...,0.00,0.47,0.07,1.32,0.00,0.00,0.00,0.86,0.03,4.39
2,AR,341381.0,5833.0,1.708648,17.36,0.16,4857.0,48.87,0.21,51.13,...,0.13,0.55,0.04,1.47,0.03,0.41,0.04,1.35,0.02,7.40
3,AZ,881450.0,17628.0,1.999887,17.98,0.16,11802.0,49.75,0.26,50.25,...,0.11,3.66,0.10,2.66,0.00,0.16,0.00,1.61,0.06,25.42
4,CA,3685032.0,62011.0,1.682781,14.78,0.12,46943.0,49.71,0.19,50.29,...,0.12,0.66,0.16,12.05,0.08,0.32,0.04,2.05,0.07,31.99

In [152]:
death_df['65 Years & Over Deaths/CumCovidCases'] = death_df['65 Years and Over COVID Deaths']/death_df['Cum_Covid_Cases'] *100
death_df.head()

,State,Cum_Covid_Cases,Cum_Covid_Deaths,COVID-19 Death Rate (%),Over 65 Population (%),65 Years and Over Crude Mortality Rate (%),65 Years and Over COVID Deaths,Male Population (%),Crude Male Mortality Rate (%),Female Population (%),Crude Female Mortality Rate (%),White Fatality Rate (%),White Population (%),Black Fatality Rate (%),Black/African American Population (%),AIAN Fatality Rate (%),AIAN Population (%),Asian Fatality Rate (%),Asian Population (%),NHPI Fatality Rate (%),NHPI Population (%),Multiracial Fatality Rate (%),Multiracial Population (%),Hispanic Fatality Rate (%),Hispanic Population (%),65 Years & Over Deaths/CumCovidCases
0,AK,67403.0,362.0,0.537068,12.52,0.04,263.0,52.00,0.05,48.00,0.04,0.02,64.13,0.00,3.08,0.03,15.77,0.05,5.96,0.04,0.00,0.01,3.88,0.01,7.17,0.390190
1,AL,543938.0,11154.0,2.050601,17.33,0.17,8312.0,48.33,0.24,51.67,0.20,0.13,66.56,0.09,26.40,0.00,0.47,0.07,1.32,0.00,0.00,0.00,0.86,0.03,4.39,1.528115
2,AR,341381.0,5833.0,1.708648,17.36,0.16,4857.0,48.87,0.21,51.13,0.19,0.07,73.89,0.05,14.92,0.13,0.55,0.04,1.47,0.03,0.41,0.04,1.35,0.02,7.40,1.422751
3,AZ,881450.0,17628.0,1.999887,17.98,0.16,11802.0,49.75,0.26,50.25,0.18,0.10,62.72,0.06,3.78,0.11,3.66,0.10,2.66,0.00,0.16,0.00,1.61,0.06,25.42,1.338930
4,CA,3685032.0,62011.0,1.682781,14.78,0.12,46943.0,49.71,0.19,50.29,0.13,0.13,48.24,0.12,4.69,0.12,0.66,0.16,12.05,0.08,0.32,0.04,2.05,0.07,31.99,1.273883

In [157]:
death_df = death_df[['State', 'COVID-19 Death Rate (%)', 'Over 65 Population (%)', '65 Years & Over Deaths/CumCovidCases',
                     'Male Population (%)', 'Crude Male Mortality Rate (%)', 'Female Population (%)', 'White Population (%)',
                    'White Fatality Rate (%)', 'Black/African American Population (%)', 'Black Fatality Rate (%)', 
                    'AIAN Population (%)', 'AIAN Fatality Rate (%)', 'Asian Population (%)', 'Asian Fatality Rate (%)',
                    'NHPI Population (%)', 'NHPI Fatality Rate (%)', 'Hispanic Population (%)', 'Hispanic Fatality Rate (%)']]
death_df.head()

,State,COVID-19 Death Rate (%),Over 65 Population (%),65 Years & Over Deaths/CumCovidCases,Male Population (%),Crude Male Mortality Rate (%),Female Population (%),White Population (%),White Fatality Rate (%),Black/African American Population (%),Black Fatality Rate (%),AIAN Population (%),AIAN Fatality Rate (%),Asian Population (%),Asian Fatality Rate (%),NHPI Population (%),NHPI Fatality Rate (%),Hispanic Population (%),Hispanic Fatality Rate (%)
0,AK,0.537068,12.52,0.390190,52.00,0.05,48.00,64.13,0.02,3.08,0.00,15.77,0.03,5.96,0.05,0.00,0.04,7.17,0.01
1,AL,2.050601,17.33,1.528115,48.33,0.24,51.67,66.56,0.13,26.40,0.09,0.47,0.00,1.32,0.07,0.00,0.00,4.39,0.03
2,AR,1.708648,17.36,1.422751,48.87,0.21,51.13,73.89,0.07,14.92,0.05,0.55,0.13,1.47,0.04,0.41,0.03,7.40,0.02
3,AZ,1.999887,17.98,1.338930,49.75,0.26,50.25,62.72,0.10,3.78,0.06,3.66,0.11,2.66,0.10,0.16,0.00,25.42,0.06
4,CA,1.682781,14.78,1.273883,49.71,0.19,50.29,48.24,0.13,4.69,0.12,0.66,0.12,12.05,0.16,0.32,0.08,31.99,0.07
5,CO,1.211398,14.63,1.021772,50.44,0.13,49.56,72.20,0.08,3.60,0.07,0.86,0.11,2.82,0.10,0.00,0.05,18.82,0.04
6,CT,2.371733,17.68,2.027690,48.91,0.23,51.09,68.20,0.20,10.17,0.12,0.23,0.00,4.27,0.11,0.00,0.00,15.41,0.05
7,DE,1.525729,19.40,1.134422,48.30,0.16,51.70,64.36,0.09,21.41,0.05,0.00,0.00,3.57,0.03,0.00,0.00,9.11,0.01
8,FL,1.614686,20.94,1.210334,48.88,0.18,51.12,61.35,0.09,13.19,0.06,0.23,0.00,2.30,0.00,0.06,0.00,21.70,0.04
9,GA,1.854088,14.29,1.187624,48.69,0.18,51.31,54.78,0.09,30.29,0.07,0.38,0.07,3.93,0.06,0.00,0.00,9.31,0.03
10,HI,1.421241,18.96,0.983049,49.99,0.04,50.01,24.74,0.03,1.95,0.00,0.00,0.00,39.72,0.10,11.06,0.04,10.94,0.00
11,IA,1.630388,17.53,1.424402,49.77,0.20,50.23,86.35,0.07,3.94,0.03,0.36,0.08,2.32,0.03,0.00,0.02,6.01,0.02
12,ID,1.088474,16.27,0.944212,50.25,0.14,49.75,83.85,0.05,0.00,0.00,1.20,0.05,1.36,0.05,0.00,0.00,12.05,0.03
13,IL,1.824863,16.12,1.277686,49.06,0.19,50.94,64.70,0.09,12.81,0.08,0.23,0.03,5.14,0.08,0.00,0.00,15.86,0.04
14,IN,1.831393,16.13,1.502630,49.31,0.20,50.69,79.86,0.08,9.22,0.08,0.26,0.00,2.44,0.04,0.00,0.00,6.96,0.03
15,KS,1.616576,16.32,1.326446,49.64,0.18,50.36,78.00,0.06,5.35,0.06,0.76,0.08,2.79,0.04,0.00,0.00,11.36,0.02
16,KY,1.479897,16.80,1.344826,49.20,0.17,50.80,85.53,0.09,8.02,0.08,0.00,0.00,1.61,0.03,0.00,0.00,3.71,0.02
17,LA,2.246938,15.94,1.560704,48.79,0.23,51.21,60.08,0.08,31.43,0.07,0.60,0.07,1.70,0.01,0.00,0.00,5.23,0.00
18,MA,2.528061,16.97,1.679621,48.54,0.20,51.46,72.51,0.16,7.43,0.07,0.24,0.15,6.46,0.09,0.00,0.00,11.67,0.03
19,MD,2.090482,15.87,1.751056,48.43,0.18,51.57,52.53,0.12,29.16,0.08,0.31,0.00,6.15,0.12,0.00,0.00,10.25,0.03
20,ME,1.216473,21.22,1.214999,48.83,0.07,51.17,93.83,0.10,1.63,0.01,0.70,0.00,1.14,0.00,0.00,0.00,1.71,0.00
21,MI,2.054154,17.68,1.427605,49.22,0.19,50.78,76.25,0.10,13.38,0.12,0.56,0.06,3.19,0.04,0.00,0.00,5.13,0.05
22,MN,1.250283,16.32,1.106947,49.72,0.14,50.28,80.51,0.06,6.44,0.02,1.00,0.06,4.97,0.04,0.00,0.00,5.47,0.01
23,MO,1.514214,17.30,1.545062,49.01,0.19,50.99,80.63,0.11,11.29,0.08,0.41,0.15,2.04,0.08,0.00,0.47,4.24,0.03
24,MS,2.303032,16.35,1.805164,48.22,0.27,51.78,57.31,0.09,37.52,0.08,0.49,0.10,1.03,0.08,0.00,0.00,2.99,0.02
25,MT,1.442381,19.32,1.205412,50.26,0.17,49.74,87.51,0.07,0.00,0.06,6.29,0.10,0.83,0.00,0.00,0.00,3.75,0.06
26,NC,1.306293,16.70,0.982966,48.57,0.12,51.43,64.96,0.06,20.49,0.06,1.15,0.04,2.82,0.03,0.00,0.00,9.30,0.01
27,ND,1.375020,15.73,1.346829,50.96,0.25,49.04,84.66,0.08,2.88,0.01,5.30,0.09,1.38,0.00,0.00,0.00,3.95,0.00
28,NE,1.023423,16.15,1.086995,49.97,0.17,50.03,80.33,0.06,4.56,0.05,0.91,0.04,2.30,0.02,0.00,0.00,10.58,0.02
29,NH,1.370460,18.67,1.245872,49.49,0.10,50.51,90.78,0.12,1.59,0.03,0.00,0.00,2.58,0.05,0.00,0.00,3.91,0.02
30,NJ,2.579078,16.61,1.880193,48.89,0.31,51.11,59.48,0.17,12.01,0.15,0.18,0.00,8.54,0.15,0.00,0.00,18.52,0.09
31,NM,2.101853,18.01,1.415534,49.44,0.22,50.56,53.39,0.12,1.67,0.06,6.87,0.10,1.26,0.05,0.00,0.00,35.58,0.06
32,NV,1.725416,16.10,1.303174,50.15,0.23,49.85,55.52,0.09,8.27,0.08,1.18,0.14,7.29,0.09,0.63,0.00,25.14,0.04
33,NY,1.718177,16.94,1.811991,48.58,0.14,51.42,57.99,0.00,14.55,0.00,0.35,0.00,7.93,0.00,0.00,0.00,17.69,0.00
34,OH,1.802377,17.51,1.749923,49.04,0.20,50.96,79.72,0.11,12.37,0.07,0.20,0.04,2.32,0.04,0.00,0.00,3.94,0.03
35,OK,1.610703,16.05,1.490640,49.60,0.23,50.40,69.07,0.08,6.93,0.08,7.64,0.07,2.17,0.03,0.00,0.00,10.56,0.03
36,OR,1.325723,18.16,1.030897,49.54,0.06,50.46,77.76,0.09,1.72,0.03,1.11,0.05,4.28,0.06,0.31,0.03,12.51,0.02
37,PA,2.264559,18.70,2.003760,49.00,0.23,51.00,76.69,0.17,10.94,0.12,0.20,0.00,3.41,0.11,0.00,0.00,7.51,0.06
38,RI,1.784596,17.66,1.551307,48.82,0.25,51.18,72.79,0.14,6.82,0.04,0.00,0.00,3.24,0.11,0.00,0.00,15.07,0.02
39,SC,1.641471,18.20,1.222889,48.26,0.20,51.74,65.28,0.08,25.91,0.08,0.36,0.00,1.65,0.04,0.00,0.00,5.67,0.02
40,SD,1.618853,17.17,1.409449,50.81,0.25,49.19,82.79,0.06,2.32,0.00,8.44,0.05,1.28,0.02,0.00,0.00,3.68,0.01
41,TN,1.442369,16.74,1.183934,48.75,0.21,51.25,75.03,0.07,16.24,0.06,0.29,0.03,1.79,0.04,0.00,0.00,5.54,0.02
42,TX,1.712912,12.88,1.332609,49.61,0.22,50.39,55.42,1.74,9.26,0.83,0.38,0.00,3.77,1.68,0.07,0.00,30.02,1.47
43,UT,0.566758,11.41,0.464338,50.24,0.09,49.76,80.08,0.02,1.06,0.01,1.01,0.05,2.19,0.03,0.88,0.02,13.22,0.01
44,VA,1.656905,15.92,1.328899,49.23,0.13,50.77,63.80,0.10,18.53,0.08,0.26,0.05,6.32,0.07,0.00,0.00,9.25,0.02
45,VT,1.052849,20.04,0.883567,49.55,0.04,50.45,93.94,0.07,1.51,0.00,0.00,0.00,1.38,0.00,0.00,0.00,1.99,0.00
46,WA,1.321133,15.89,1.022302,50.00,0.08,50.00,70.46,0.12,3.81,0.05,1.30,0.13,8.54,0.10,0.63,0.07,12.37,0.02
47,WI,1.164853,17.47,1.054981,49.68,0.15,50.32,82.18,0.04,6.21,0.03,0.90,0.04,2.77,0.03,0.00,0.00,6.83,0.02
48,WV,1.731076,20.48,1.475010,49.43,0.17,50.57,93.13,0.11,3.68,0.08,0.00,0.00,0.80,0.00,0.00,0.00,1.50,0.00
49,WY,1.195464,17.14,0.894520,51.14,0.11,48.86,86.70,0.06,0.00,0.00,2.27,0.05,0.00,0.00,0.00,0.00,9.66,0.04

In [158]:
adjusted_df = pd.read_csv("../jennie-folder/normalized_deathrate.csv")

In [159]:
adjusted_df= adjusted_df.drop(columns=['Unnamed: 0'])

In [160]:
adjusted_df= adjusted_df.drop(columns=['Actual_DR', 'Normalized_DR', 'Delta', 'Cum_Covid_19_Death_Rate'])
adjusted_df = adjusted_df.rename(columns={"Adj_for_age_Covid_Death_Rate": "Death Rate Normalized by Age (%)"})

In [161]:
deathrate_df = pd.merge(adjusted_df, death_df, how='left', on='State')

In [163]:
deathrate_df= deathrate_df.round(decimals=2)
deathrate_df

,State,Death Rate Normalized by Age (%),COVID-19 Death Rate (%),Over 65 Population (%),65 Years & Over Deaths/CumCovidCases,Male Population (%),Crude Male Mortality Rate (%),Female Population (%),White Population (%),White Fatality Rate (%),Black/African American Population (%),Black Fatality Rate (%),AIAN Population (%),AIAN Fatality Rate (%),Asian Population (%),Asian Fatality Rate (%),NHPI Population (%),NHPI Fatality Rate (%),Hispanic Population (%),Hispanic Fatality Rate (%)
0,AK,0.76,0.54,12.52,0.39,52.00,0.05,48.00,64.13,0.02,3.08,0.00,15.77,0.03,5.96,0.05,0.00,0.04,7.17,0.01
1,AL,2.02,2.05,17.33,1.53,48.33,0.24,51.67,66.56,0.13,26.40,0.09,0.47,0.00,1.32,0.07,0.00,0.00,4.39,0.03
2,AR,1.66,1.71,17.36,1.42,48.87,0.21,51.13,73.89,0.07,14.92,0.05,0.55,0.13,1.47,0.04,0.41,0.03,7.40,0.02
3,AZ,1.93,2.00,17.98,1.34,49.75,0.26,50.25,62.72,0.10,3.78,0.06,3.66,0.11,2.66,0.10,0.16,0.00,25.42,0.06
4,CA,1.80,1.68,14.78,1.27,49.71,0.19,50.29,48.24,0.13,4.69,0.12,0.66,0.12,12.05,0.16,0.32,0.08,31.99,0.07
5,CO,1.45,1.21,14.63,1.02,50.44,0.13,49.56,72.20,0.08,3.60,0.07,0.86,0.11,2.82,0.10,0.00,0.05,18.82,0.04
6,CT,2.09,2.37,17.68,2.03,48.91,0.23,51.09,68.20,0.20,10.17,0.12,0.23,0.00,4.27,0.11,0.00,0.00,15.41,0.05
7,DE,1.40,1.53,19.40,1.13,48.30,0.16,51.70,64.36,0.09,21.41,0.05,0.00,0.00,3.57,0.03,0.00,0.00,9.11,0.01
8,FL,1.28,1.61,20.94,1.21,48.88,0.18,51.12,61.35,0.09,13.19,0.06,0.23,0.00,2.30,0.00,0.06,0.00,21.70,0.04
9,GA,2.15,1.85,14.29,1.19,48.69,0.18,51.31,54.78,0.09,30.29,0.07,0.38,0.07,3.93,0.06,0.00,0.00,9.31,0.03
10,HI,1.34,1.42,18.96,0.98,49.99,0.04,50.01,24.74,0.03,1.95,0.00,0.00,0.00,39.72,0.10,11.06,0.04,10.94,0.00
11,IA,1.47,1.63,17.53,1.42,49.77,0.20,50.23,86.35,0.07,3.94,0.03,0.36,0.08,2.32,0.03,0.00,0.02,6.01,0.02
12,ID,1.18,1.09,16.27,0.94,50.25,0.14,49.75,83.85,0.05,0.00,0.00,1.20,0.05,1.36,0.05,0.00,0.00,12.05,0.03
13,IL,1.81,1.82,16.12,1.28,49.06,0.19,50.94,64.70,0.09,12.81,0.08,0.23,0.03,5.14,0.08,0.00,0.00,15.86,0.04
14,IN,1.90,1.83,16.13,1.50,49.31,0.20,50.69,79.86,0.08,9.22,0.08,0.26,0.00,2.44,0.04,0.00,0.00,6.96,0.03
15,KS,1.58,1.62,16.32,1.33,49.64,0.18,50.36,78.00,0.06,5.35,0.06,0.76,0.08,2.79,0.04,0.00,0.00,11.36,0.02
16,KY,1.48,1.48,16.80,1.34,49.20,0.17,50.80,85.53,0.09,8.02,0.08,0.00,0.00,1.61,0.03,0.00,0.00,3.71,0.02
17,LA,2.38,2.25,15.94,1.56,48.79,0.23,51.21,60.08,0.08,31.43,0.07,0.60,0.07,1.70,0.01,0.00,0.00,5.23,0.00
18,MA,2.48,2.53,16.97,1.68,48.54,0.20,51.46,72.51,0.16,7.43,0.07,0.24,0.15,6.46,0.09,0.00,0.00,11.67,0.03
19,MD,2.00,2.09,15.87,1.75,48.43,0.18,51.57,52.53,0.12,29.16,0.08,0.31,0.00,6.15,0.12,0.00,0.00,10.25,0.03
20,ME,1.02,1.22,21.22,1.21,48.83,0.07,51.17,93.83,0.10,1.63,0.01,0.70,0.00,1.14,0.00,0.00,0.00,1.71,0.00
21,MI,1.89,2.05,17.68,1.43,49.22,0.19,50.78,76.25,0.10,13.38,0.12,0.56,0.06,3.19,0.04,0.00,0.00,5.13,0.05
22,MN,1.23,1.25,16.32,1.11,49.72,0.14,50.28,80.51,0.06,6.44,0.02,1.00,0.06,4.97,0.04,0.00,0.00,5.47,0.01
23,MO,1.41,1.51,17.30,1.55,49.01,0.19,50.99,80.63,0.11,11.29,0.08,0.41,0.15,2.04,0.08,0.00,0.47,4.24,0.03
24,MS,2.38,2.30,16.35,1.81,48.22,0.27,51.78,57.31,0.09,37.52,0.08,0.49,0.10,1.03,0.08,0.00,0.00,2.99,0.02
25,MT,1.31,1.44,19.32,1.21,50.26,0.17,49.74,87.51,0.07,0.00,0.06,6.29,0.10,0.83,0.00,0.00,0.00,3.75,0.06
26,NC,1.33,1.31,16.70,0.98,48.57,0.12,51.43,64.96,0.06,20.49,0.06,1.15,0.04,2.82,0.03,0.00,0.00,9.30,0.01
27,ND,1.34,1.38,15.73,1.35,50.96,0.25,49.04,84.66,0.08,2.88,0.01,5.30,0.09,1.38,0.00,0.00,0.00,3.95,0.00
28,NE,1.01,1.02,16.15,1.09,49.97,0.17,50.03,80.33,0.06,4.56,0.05,0.91,0.04,2.30,0.02,0.00,0.00,10.58,0.02
29,NH,1.24,1.37,18.67,1.25,49.49,0.10,50.51,90.78,0.12,1.59,0.03,0.00,0.00,2.58,0.05,0.00,0.00,3.91,0.02
30,NJ,2.43,2.58,16.61,1.88,48.89,0.31,51.11,59.48,0.17,12.01,0.15,0.18,0.00,8.54,0.15,0.00,0.00,18.52,0.09
31,NM,1.99,2.10,18.01,1.42,49.44,0.22,50.56,53.39,0.12,1.67,0.06,6.87,0.10,1.26,0.05,0.00,0.00,35.58,0.06
32,NV,1.86,1.73,16.10,1.30,50.15,0.23,49.85,55.52,0.09,8.27,0.08,1.18,0.14,7.29,0.09,0.63,0.00,25.14,0.04
33,NY,1.62,1.72,16.94,1.81,48.58,0.14,51.42,57.99,0.00,14.55,0.00,0.35,0.00,7.93,0.00,0.00,0.00,17.69,0.00
34,OH,1.69,1.80,17.51,1.75,49.04,0.20,50.96,79.72,0.11,12.37,0.07,0.20,0.04,2.32,0.04,0.00,0.00,3.94,0.03
35,OK,1.58,1.61,16.05,1.49,49.60,0.23,50.40,69.07,0.08,6.93,0.08,7.64,0.07,2.17,0.03,0.00,0.00,10.56,0.03
36,OR,1.30,1.33,18.16,1.03,49.54,0.06,50.46,77.76,0.09,1.72,0.03,1.11,0.05,4.28,0.06,0.31,0.03,12.51,0.02
37,PA,1.94,2.26,18.70,2.00,49.00,0.23,51.00,76.69,0.17,10.94,0.12,0.20,0.00,3.41,0.11,0.00,0.00,7.51,0.06
38,RI,1.58,1.78,17.66,1.55,48.82,0.25,51.18,72.79,0.14,6.82,0.04,0.00,0.00,3.24,0.11,0.00,0.00,15.07,0.02
39,SC,1.59,1.64,18.20,1.22,48.26,0.20,51.74,65.28,0.08,25.91,0.08,0.36,0.00,1.65,0.04,0.00,0.00,5.67,0.02
40,SD,1.51,1.62,17.17,1.41,50.81,0.25,49.19,82.79,0.06,2.32,0.00,8.44,0.05,1.28,0.02,0.00,0.00,3.68,0.01
41,TN,1.46,1.44,16.74,1.18,48.75,0.21,51.25,75.03,0.07,16.24,0.06,0.29,0.03,1.79,0.04,0.00,0.00,5.54,0.02
42,TX,2.14,1.71,12.88,1.33,49.61,0.22,50.39,55.42,1.74,9.26,0.83,0.38,0.00,3.77,1.68,0.07,0.00,30.02,1.47
43,UT,0.81,0.57,11.41,0.46,50.24,0.09,49.76,80.08,0.02,1.06,0.01,1.01,0.05,2.19,0.03,0.88,0.02,13.22,0.01
44,VA,1.71,1.66,15.92,1.33,49.23,0.13,50.77,63.80,0.10,18.53,0.08,0.26,0.05,6.32,0.07,0.00,0.00,9.25,0.02
45,VT,0.92,1.05,20.04,0.88,49.55,0.04,50.45,93.94,0.07,1.51,0.00,0.00,0.00,1.38,0.00,0.00,0.00,1.99,0.00
46,WA,1.47,1.32,15.89,1.02,50.00,0.08,50.00,70.46,0.12,3.81,0.05,1.30,0.13,8.54,0.10,0.63,0.07,12.37,0.02
47,WI,1.07,1.16,17.47,1.05,49.68,0.15,50.32,82.18,0.04,6.21,0.03,0.90,0.04,2.77,0.03,0.00,0.00,6.83,0.02
48,WV,1.56,1.73,20.48,1.48,49.43,0.17,50.57,93.13,0.11,3.68,0.08,0.00,0.00,0.80,0.00,0.00,0.00,1.50,0.00
49,WY,1.23,1.20,17.14,0.89,51.14,0.11,48.86,86.70,0.06,0.00,0.00,2.27,0.05,0.00,0.00,0.00,0.00,9.66,0.04

In [165]:
deathrate_df.to_csv("final_df.csv", index=False, header=True)