In [1]:
import requests
import json
import pandas as pd
from sodapy import Socrata

In [2]:
us_state_abbrev = {
    'United States': 'USA',
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York City':"NYC",
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY',
}

In [3]:
base_url = "https://data.cdc.gov/resource/9bhg-hcku.json"
response = requests.get(base_url)
cdc_data = response.json()

In [4]:
client = Socrata("data.cdc.gov", None)

results = client.get("9bhg-hcku", limit=6000)

results_df = pd.DataFrame.from_records(results)
results_df

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

,data_as_of,start_date,end_date,group,state,sex,age_group,covid_19_deaths,total_deaths,pneumonia_deaths,pneumonia_and_covid_19_deaths,influenza_deaths,pneumonia_influenza_or_covid,footnote,year
0,2021-05-05T00:00:00.000,2020-01-01T00:00:00.000,2021-05-01T00:00:00.000,By Total,United States,All Sexes,All Ages,561594,4408512,488924,274531,9100,783821,NaN,NaN
1,2021-05-05T00:00:00.000,2020-01-01T00:00:00.000,2021-05-01T00:00:00.000,By Total,United States,All Sexes,Under 1 year,67,24224,260,10,21,338,NaN,NaN
2,2021-05-05T00:00:00.000,2020-01-01T00:00:00.000,2021-05-01T00:00:00.000,By Total,United States,All Sexes,0-17 years,282,42429,709,54,179,1116,NaN,NaN
3,2021-05-05T00:00:00.000,2020-01-01T00:00:00.000,2021-05-01T00:00:00.000,By Total,United States,All Sexes,1-4 years,35,4344,145,6,61,235,NaN,NaN
4,2021-05-05T00:00:00.000,2020-01-01T00:00:00.000,2021-05-01T00:00:00.000,By Total,United States,All Sexes,5-14 years,99,7038,205,21,76,359,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5995,2021-05-05T00:00:00.000,2021-01-01T00:00:00.000,2021-05-01T00:00:00.000,By Year,New Jersey,Male,45-54 years,193,995,126,107,0,212,NaN,2021
5996,2021-05-05T00:00:00.000,2021-01-01T00:00:00.000,2021-05-01T00:00:00.000,By Year,New Jersey,Male,50-64 years,607,2704,410,327,0,690,NaN,2021
5997,2021-05-05T00:00:00.000,2021-01-01T00:00:00.000,2021-05-01T00:00:00.000,By Year,New Jersey,Male,55-64 years,483,2101,329,259,0,553,NaN,2021
5998,2021-05-05T00:00:00.000,2021-01-01T00:00:00.000,2021-05-01T00:00:00.000,By Year,New Jersey,Male,65-74 years,756,3167,527,413,0,870,NaN,2021
5999,2021-05-05T00:00:00.000,2021-01-01T00:00:00.000,2021-05-01T00:00:00.000,By Year,New Jersey,Male,75-84 years,829,3648,610,439,0,1000,NaN,2021

In [5]:
results_df = results_df.loc[results_df['group']=="By Total"]

In [6]:
sex_df = results_df.loc[results_df['age_group']=="All Ages"]

In [7]:
del sex_df['data_as_of']
del sex_df['start_date']
del sex_df['end_date']
del sex_df['group']
del sex_df['age_group']
del sex_df['total_deaths']
del sex_df['pneumonia_deaths']
del sex_df['pneumonia_and_covid_19_deaths']
del sex_df['influenza_deaths']
del sex_df['pneumonia_influenza_or_covid']
del sex_df['footnote']

In [8]:
male_df = sex_df.loc[sex_df["sex"]=="Male"]
male_df

                     state   sex covid_19_deaths year
17           United States  Male          308080  NaN
68                 Alabama  Male            5609  NaN
119                 Alaska  Male             193  NaN
170                Arizona  Male            9177  NaN
221               Arkansas  Male            3076  NaN
272             California  Male           37417  NaN
323               Colorado  Male            3613  NaN
374            Connecticut  Male            3894  NaN
425               Delaware  Male             737  NaN
476   District of Columbia  Male             803  NaN
527                Florida  Male           18602  NaN
578                Georgia  Male            9141  NaN
629                 Hawaii  Male             285  NaN
680                  Idaho  Male            1195  NaN
731               Illinois  Male           11534  NaN
782                Indiana  Male            6547  NaN
833                   Iowa  Male            3115  NaN
884                 Kansas  Male            2630  NaN
935               Kentucky  Male            3590  NaN
986              Louisiana  Male            5069  NaN
1037                 Maine  Male             429  NaN
1088              Maryland  Male            5079  NaN
1139         Massachusetts  Male            6566  NaN
1190              Michigan  Male            8815  NaN
1241             Minnesota  Male            3799  NaN
1292           Mississippi  Male            3830  NaN
1343              Missouri  Male            5598  NaN
1394               Montana  Male             890  NaN
1445              Nebraska  Male            1610  NaN
1496                Nevada  Male            3470  NaN
1547         New Hampshire  Male             652  NaN
1598            New Jersey  Male           12921  NaN
1649            New Mexico  Male            2191  NaN
1700              New York  Male           12717  NaN
1751         New York City  Male           16642  NaN
1802        North Carolina  Male            4605  NaN
1853          North Dakota  Male             935  NaN
1904                  Ohio  Male           11382  NaN
1955              Oklahoma  Male            4527  NaN
2006                Oregon  Male            1261  NaN
2057          Pennsylvania  Male           13651  NaN
2108          Rhode Island  Male            1263  NaN
2159        South Carolina  Male            4594  NaN
2210          South Dakota  Male            1084  NaN
2261             Tennessee  Male            6846  NaN
2312                 Texas  Male           30710  NaN
2363                  Utah  Male            1425  NaN
2414               Vermont  Male             114  NaN
2465              Virginia  Male            5436  NaN
2516            Washington  Male            2793  NaN
2567         West Virginia  Male            1415  NaN
2618             Wisconsin  Male            4280  NaN
2669               Wyoming  Male             323  NaN
2720           Puerto Rico  Male            1235  NaN

In [9]:
female_df = sex_df.loc[sex_df["sex"]=="Female"]
female_df

                     state     sex covid_19_deaths year
34           United States  Female          253514  NaN
85                 Alabama  Female            4866  NaN
136                 Alaska  Female             132  NaN
187                Arizona  Female            6402  NaN
238               Arkansas  Female            2842  NaN
289             California  Female           25931  NaN
340               Colorado  Female            2865  NaN
391            Connecticut  Female            4066  NaN
442               Delaware  Female             724  NaN
493   District of Columbia  Female             592  NaN
544                Florida  Female           14076  NaN
595                Georgia  Female            7844  NaN
646                 Hawaii  Female             178  NaN
697                  Idaho  Female             849  NaN
748               Illinois  Female            9615  NaN
799                Indiana  Female            6166  NaN
850                   Iowa  Female            2853  NaN
901                 Kansas  Female            2226  NaN
952               Kentucky  Female            3546  NaN
1003             Louisiana  Female            4262  NaN
1054                 Maine  Female             456  NaN
1105              Maryland  Female            4713  NaN
1156         Massachusetts  Female            6605  NaN
1207              Michigan  Female            7473  NaN
1258             Minnesota  Female            3528  NaN
1309           Mississippi  Female            3492  NaN
1360              Missouri  Female            5078  NaN
1411               Montana  Female             704  NaN
1462              Nebraska  Female            1210  NaN
1513                Nevada  Female            2077  NaN
1564         New Hampshire  Female             639  NaN
1615            New Jersey  Female           10706  NaN
1666            New Mexico  Female            1769  NaN
1717              New York  Female           11680  NaN
1768         New York City  Female           11839  NaN
1819        North Carolina  Female            4369  NaN
1870          North Dakota  Female             746  NaN
1921                  Ohio  Female           10373  NaN
1972              Oklahoma  Female            3774  NaN
2023                Oregon  Female            1119  NaN
2074          Pennsylvania  Female           13180  NaN
2125          Rhode Island  Female            1354  NaN
2176        South Carolina  Female            3936  NaN
2227          South Dakota  Female             931  NaN
2278             Tennessee  Female            5638  NaN
2329                 Texas  Female           22348  NaN
2380                  Utah  Female             946  NaN
2431               Vermont  Female             117  NaN
2482              Virginia  Female            5064  NaN
2533            Washington  Female            2316  NaN
2584         West Virginia  Female            1266  NaN
2635             Wisconsin  Female            3730  NaN
2686               Wyoming  Female             303  NaN
2737           Puerto Rico  Female             914  NaN

In [10]:
merged_df = pd.merge(male_df, female_df, on='state')

In [11]:
merged_df

,state,sex_x,covid_19_deaths_x,year_x,sex_y,covid_19_deaths_y,year_y
0,United States,Male,308080,NaN,Female,253514,NaN
1,Alabama,Male,5609,NaN,Female,4866,NaN
2,Alaska,Male,193,NaN,Female,132,NaN
3,Arizona,Male,9177,NaN,Female,6402,NaN
4,Arkansas,Male,3076,NaN,Female,2842,NaN
5,California,Male,37417,NaN,Female,25931,NaN
6,Colorado,Male,3613,NaN,Female,2865,NaN
7,Connecticut,Male,3894,NaN,Female,4066,NaN
8,Delaware,Male,737,NaN,Female,724,NaN
9,District of Columbia,Male,803,NaN,Female,592,NaN
10,Florida,Male,18602,NaN,Female,14076,NaN
11,Georgia,Male,9141,NaN,Female,7844,NaN
12,Hawaii,Male,285,NaN,Female,178,NaN
13,Idaho,Male,1195,NaN,Female,849,NaN
14,Illinois,Male,11534,NaN,Female,9615,NaN
15,Indiana,Male,6547,NaN,Female,6166,NaN
16,Iowa,Male,3115,NaN,Female,2853,NaN
17,Kansas,Male,2630,NaN,Female,2226,NaN
18,Kentucky,Male,3590,NaN,Female,3546,NaN
19,Louisiana,Male,5069,NaN,Female,4262,NaN
20,Maine,Male,429,NaN,Female,456,NaN
21,Maryland,Male,5079,NaN,Female,4713,NaN
22,Massachusetts,Male,6566,NaN,Female,6605,NaN
23,Michigan,Male,8815,NaN,Female,7473,NaN
24,Minnesota,Male,3799,NaN,Female,3528,NaN
25,Mississippi,Male,3830,NaN,Female,3492,NaN
26,Missouri,Male,5598,NaN,Female,5078,NaN
27,Montana,Male,890,NaN,Female,704,NaN
28,Nebraska,Male,1610,NaN,Female,1210,NaN
29,Nevada,Male,3470,NaN,Female,2077,NaN
30,New Hampshire,Male,652,NaN,Female,639,NaN
31,New Jersey,Male,12921,NaN,Female,10706,NaN
32,New Mexico,Male,2191,NaN,Female,1769,NaN
33,New York,Male,12717,NaN,Female,11680,NaN
34,New York City,Male,16642,NaN,Female,11839,NaN
35,North Carolina,Male,4605,NaN,Female,4369,NaN
36,North Dakota,Male,935,NaN,Female,746,NaN
37,Ohio,Male,11382,NaN,Female,10373,NaN
38,Oklahoma,Male,4527,NaN,Female,3774,NaN
39,Oregon,Male,1261,NaN,Female,1119,NaN
40,Pennsylvania,Male,13651,NaN,Female,13180,NaN
41,Rhode Island,Male,1263,NaN,Female,1354,NaN
42,South Carolina,Male,4594,NaN,Female,3936,NaN
43,South Dakota,Male,1084,NaN,Female,931,NaN
44,Tennessee,Male,6846,NaN,Female,5638,NaN
45,Texas,Male,30710,NaN,Female,22348,NaN
46,Utah,Male,1425,NaN,Female,946,NaN
47,Vermont,Male,114,NaN,Female,117,NaN
48,Virginia,Male,5436,NaN,Female,5064,NaN
49,Washington,Male,2793,NaN,Female,2316,NaN
50,West Virginia,Male,1415,NaN,Female,1266,NaN
51,Wisconsin,Male,4280,NaN,Female,3730,NaN
52,Wyoming,Male,323,NaN,Female,303,NaN
53,Puerto Rico,Male,1235,NaN,Female,914,NaN

In [12]:
all_df = sex_df.loc[sex_df["sex"]=="All Sexes"]
all_df.head()

             state        sex covid_19_deaths year
0    United States  All Sexes          561594  NaN
51         Alabama  All Sexes           10475  NaN
102         Alaska  All Sexes             325  NaN
153        Arizona  All Sexes           15579  NaN
204       Arkansas  All Sexes            5918  NaN

In [13]:
new_df = pd.merge(merged_df, all_df, how='left', on='state')

In [14]:
new_df.head()

,state,sex_x,covid_19_deaths_x,year_x,sex_y,covid_19_deaths_y,year_y,sex,covid_19_deaths,year
0,United States,Male,308080,NaN,Female,253514,NaN,All Sexes,561594,NaN
1,Alabama,Male,5609,NaN,Female,4866,NaN,All Sexes,10475,NaN
2,Alaska,Male,193,NaN,Female,132,NaN,All Sexes,325,NaN
3,Arizona,Male,9177,NaN,Female,6402,NaN,All Sexes,15579,NaN
4,Arkansas,Male,3076,NaN,Female,2842,NaN,All Sexes,5918,NaN

In [15]:
del new_df['sex_x']
del new_df['sex_y']
del new_df['sex']
del new_df['year']
del new_df['year_x']
del new_df['year_y']

In [16]:
new_df = new_df.rename(columns={"state":"State", "covid_19_deaths_x":"Male COVID-19 Deaths", "covid_19_deaths_y": "Female COVID-19 Deaths", "covid_19_deaths":"All Sexes COVID-19 Deaths"})

In [17]:
new_df = new_df.loc[new_df['State']!="Puerto Rico"]

In [18]:
new_df

,State,Male COVID-19 Deaths,Female COVID-19 Deaths,All Sexes COVID-19 Deaths
0,United States,308080,253514,561594
1,Alabama,5609,4866,10475
2,Alaska,193,132,325
3,Arizona,9177,6402,15579
4,Arkansas,3076,2842,5918
5,California,37417,25931,63348
6,Colorado,3613,2865,6478
7,Connecticut,3894,4066,7960
8,Delaware,737,724,1461
9,District of Columbia,803,592,1395
10,Florida,18602,14076,32678
11,Georgia,9141,7844,16985
12,Hawaii,285,178,463
13,Idaho,1195,849,2044
14,Illinois,11534,9615,21149
15,Indiana,6547,6166,12713
16,Iowa,3115,2853,5968
17,Kansas,2630,2226,4856
18,Kentucky,3590,3546,7136
19,Louisiana,5069,4262,9331
20,Maine,429,456,885
21,Maryland,5079,4713,9792
22,Massachusetts,6566,6605,13171
23,Michigan,8815,7473,16288
24,Minnesota,3799,3528,7327
25,Mississippi,3830,3492,7322
26,Missouri,5598,5078,10676
27,Montana,890,704,1594
28,Nebraska,1610,1210,2820
29,Nevada,3470,2077,5547
30,New Hampshire,652,639,1291
31,New Jersey,12921,10706,23627
32,New Mexico,2191,1769,3960
33,New York,12717,11680,24397
34,New York City,16642,11839,28481
35,North Carolina,4605,4369,8974
36,North Dakota,935,746,1681
37,Ohio,11382,10373,21755
38,Oklahoma,4527,3774,8301
39,Oregon,1261,1119,2380
40,Pennsylvania,13651,13180,26831
41,Rhode Island,1263,1354,2617
42,South Carolina,4594,3936,8530
43,South Dakota,1084,931,2015
44,Tennessee,6846,5638,12484
45,Texas,30710,22348,53058
46,Utah,1425,946,2371
47,Vermont,114,117,231
48,Virginia,5436,5064,10500
49,Washington,2793,2316,5109
50,West Virginia,1415,1266,2681
51,Wisconsin,4280,3730,8010
52,Wyoming,323,303,626

In [19]:
client = Socrata("data.cdc.gov", None)

results = client.get("9bhg-hcku", limit=6000)

results_df = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [20]:
results_df = results_df.loc[results_df['group']=="By Total"]

In [21]:
age_df = results_df.loc[results_df['sex']=="All Sexes"]

In [22]:
del age_df['data_as_of']
del age_df['start_date']
del age_df['end_date']
del age_df['group']
del age_df['sex']
del age_df['total_deaths']
del age_df['pneumonia_deaths']
del age_df['pneumonia_and_covid_19_deaths']
del age_df['influenza_deaths']
del age_df['pneumonia_influenza_or_covid']
del age_df['footnote']
del age_df['year']

In [23]:
age_df

              state          age_group covid_19_deaths
0     United States           All Ages          561594
1     United States       Under 1 year              67
2     United States         0-17 years             282
3     United States          1-4 years              35
4     United States         5-14 years              99
...             ...                ...             ...
2715    Puerto Rico        50-64 years             429
2716    Puerto Rico        55-64 years             318
2717    Puerto Rico        65-74 years             543
2718    Puerto Rico        75-84 years             582
2719    Puerto Rico  85 years and over             437

[918 rows x 3 columns]

In [24]:
age_df["age_group"].value_counts()

5-14 years           54
85 years and over    54
25-34 years          54
65-74 years          54
35-44 years          54
Under 1 year         54
50-64 years          54
30-39 years          54
75-84 years          54
55-64 years          54
40-49 years          54
All Ages             54
0-17 years           54
18-29 years          54
15-24 years          54
1-4 years            54
45-54 years          54
Name: age_group, dtype: int64

In [25]:
age_df = age_df.loc[age_df['age_group'] != "18-29 years"]
age_df = age_df.loc[age_df['age_group'] != "0-17 years"]
age_df = age_df.loc[age_df['age_group'] != "Under 1 year"]
age_df = age_df.loc[age_df['age_group'] != "30-39 years"]
age_df = age_df.loc[age_df['age_group'] != "40-49 years"]
age_df = age_df.loc[age_df['age_group'] != "50-64 years"]

In [26]:
age_df = age_df.replace({"1-4 years":"Under 5 years"})
age_df['age_group'].value_counts()

75-84 years          54
85 years and over    54
5-14 years           54
55-64 years          54
35-44 years          54
65-74 years          54
25-34 years          54
15-24 years          54
45-54 years          54
All Ages             54
Under 5 years        54
Name: age_group, dtype: int64

In [27]:
age_df.fillna(0)

              state          age_group covid_19_deaths
0     United States           All Ages          561594
3     United States      Under 5 years              35
4     United States         5-14 years              99
5     United States        15-24 years             857
7     United States        25-34 years            3798
...             ...                ...             ...
2714    Puerto Rico        45-54 years             170
2716    Puerto Rico        55-64 years             318
2717    Puerto Rico        65-74 years             543
2718    Puerto Rico        75-84 years             582
2719    Puerto Rico  85 years and over             437

[594 rows x 3 columns]

In [28]:
under5_df = age_df.loc[age_df["age_group"]=="Under 5 years"]

In [29]:
year5_14_df = age_df.loc[age_df["age_group"]=="5-14 years"]

In [30]:
year15_24_df = age_df.loc[age_df["age_group"]=="15-24 years"]

In [31]:
year25_34_df = age_df.loc[age_df["age_group"]=="25-34 years"]

In [32]:
year35_44_df = age_df.loc[age_df["age_group"]=="35-44 years"]

In [33]:
year45_54_df = age_df.loc[age_df["age_group"]=="45-54 years"]

In [34]:
year55_64_df = age_df.loc[age_df["age_group"]=="55-64 years"]

In [35]:
year65_74_df = age_df.loc[age_df["age_group"]=="65-74 years"]

In [36]:
year75_84_df = age_df.loc[age_df["age_group"]=="75-84 years"]

In [37]:
year85_df = age_df.loc[age_df["age_group"]=="85 years and over"]

In [38]:
all_ages_df = age_df.loc[age_df["age_group"]=="All Ages"]

In [39]:
merged_age = pd.merge(under5_df, year5_14_df, on='state')
merged_age = pd.merge(merged_age, year15_24_df, on ='state')
#merged_age.head()

In [40]:
merged_age = merged_age.rename(columns={
                                "covid_19_deaths_x":"Under 5 Years COVID-19 Deaths", 
                                "covid_19_deaths_y": "5-14 Years COVID-19 Deaths", 
                                "covid_19_deaths":"15-24 COVID-19 Deaths"
                                       })
del merged_age['age_group_x']
del merged_age['age_group_y']
del merged_age['age_group']
#merged_age.head()

In [41]:
merged_age = pd.merge(merged_age, year25_34_df, on ='state')
merged_age = pd.merge(merged_age, year35_44_df, on ='state')
merged_age = merged_age.rename(columns={
                                "covid_19_deaths_x":"25-34 Years COVID-19 Deaths", 
                                "covid_19_deaths_y": "35-44 Years COVID-19 Deaths"
                                       })
del merged_age['age_group_x']
del merged_age['age_group_y']
#merged_age.head()

In [42]:
merged_age = pd.merge(merged_age, year45_54_df, on ='state')
merged_age = pd.merge(merged_age, year55_64_df, on ='state')
merged_age = merged_age.rename(columns={
                                "covid_19_deaths_x":"45-54 Years COVID-19 Deaths", 
                                "covid_19_deaths_y": "55-64 Years COVID-19 Deaths"
                                       })
del merged_age['age_group_x']
del merged_age['age_group_y']
#merged_age.head()

In [43]:
merged_age = pd.merge(merged_age, year65_74_df, on ='state')
merged_age = pd.merge(merged_age, year75_84_df, on ='state')
merged_age = merged_age.rename(columns={
                                "covid_19_deaths_x":"65-74 Years COVID-19 Deaths", 
                                "covid_19_deaths_y": "75-84 Years COVID-19 Deaths"
                                       })
del merged_age['age_group_x']
del merged_age['age_group_y']
#merged_age.head()

In [44]:
merged_age = pd.merge(merged_age, year85_df, on ='state')
merged_age = pd.merge(merged_age, all_ages_df, on='state')
merged_age = merged_age.rename(columns={
                                "covid_19_deaths_x":"85 Years and Over COVID-19 Deaths",
                                "covid_19_deaths_y":"All Ages COVID-19 Deaths"
                                       })
del merged_age['age_group_x']
del merged_age['age_group_y']
merged_age.head()

,state,Under 5 Years COVID-19 Deaths,5-14 Years COVID-19 Deaths,15-24 COVID-19 Deaths,25-34 Years COVID-19 Deaths,35-44 Years COVID-19 Deaths,45-54 Years COVID-19 Deaths,55-64 Years COVID-19 Deaths,65-74 Years COVID-19 Deaths,75-84 Years COVID-19 Deaths,85 Years and Over COVID-19 Deaths,All Ages COVID-19 Deaths
0,United States,35,99,857,3798,9823,27482,69495,124326,155247,170365,561594
1,Alabama,0,0,11,72,207,577,1456,2719,3022,2409,10475
2,Alaska,0,0,NaN,NaN,10,15,40,85,94,76,325
3,Arizona,NaN,NaN,44,181,401,989,2273,3716,4444,3520,15579
4,Arkansas,NaN,0,NaN,34,88,259,712,1334,1749,1735,5918

In [45]:
merged_age = merged_age.fillna(0)

In [46]:
merged_age = merged_age.loc[merged_age['state']!='Puerto Rico']

In [47]:
merged_age = merged_age.rename(columns={"state":"State"})
#merged_age.head()

In [48]:
age_sex_df = pd.merge(new_df, merged_age, on='State')
#age_sex_df

In [49]:
age_sex_df = age_sex_df.fillna(0)
age_sex_df

,State,Male COVID-19 Deaths,Female COVID-19 Deaths,All Sexes COVID-19 Deaths,Under 5 Years COVID-19 Deaths,5-14 Years COVID-19 Deaths,15-24 COVID-19 Deaths,25-34 Years COVID-19 Deaths,35-44 Years COVID-19 Deaths,45-54 Years COVID-19 Deaths,55-64 Years COVID-19 Deaths,65-74 Years COVID-19 Deaths,75-84 Years COVID-19 Deaths,85 Years and Over COVID-19 Deaths,All Ages COVID-19 Deaths
0,United States,308080,253514,561594,35,99,857,3798,9823,27482,69495,124326,155247,170365,561594
1,Alabama,5609,4866,10475,0,0,11,72,207,577,1456,2719,3022,2409,10475
2,Alaska,193,132,325,0,0,0,0,10,15,40,85,94,76,325
3,Arizona,9177,6402,15579,0,0,44,181,401,989,2273,3716,4444,3520,15579
4,Arkansas,3076,2842,5918,0,0,0,34,88,259,712,1334,1749,1735,5918
5,California,37417,25931,63348,0,0,140,649,1655,4460,10044,14395,15586,16404,63348
6,Colorado,3613,2865,6478,0,0,18,33,91,292,637,1305,1827,2271,6478
7,Connecticut,3894,4066,7960,0,0,0,24,60,224,709,1380,2108,3448,7960
8,Delaware,737,724,1461,0,0,0,0,0,60,157,279,430,509,1461
9,District of Columbia,803,592,1395,0,0,0,16,42,124,263,380,290,276,1395
10,Florida,18602,14076,32678,0,0,48,200,520,1365,3772,7235,9919,9610,32678
11,Georgia,9141,7844,16985,0,0,32,136,344,955,2464,4276,4923,3847,16985
12,Hawaii,285,178,463,0,0,0,0,13,27,78,112,95,129,463
13,Idaho,1195,849,2044,0,0,0,0,20,66,173,441,634,703,2044
14,Illinois,11534,9615,21149,0,0,34,151,365,1001,2347,4487,5635,7123,21149
15,Indiana,6547,6166,12713,0,0,10,37,133,369,1251,2591,3787,4530,12713
16,Iowa,3115,2853,5968,0,0,0,21,49,164,498,1014,1688,2529,5968
17,Kansas,2630,2226,4856,0,0,10,23,59,179,469,937,1380,1799,4856
18,Kentucky,3590,3546,7136,0,0,0,19,74,239,787,1668,2119,2229,7136
19,Louisiana,5069,4262,9331,0,0,18,67,177,485,1322,2370,2711,2174,9331
20,Maine,429,456,885,0,0,0,0,0,21,61,141,289,362,885
21,Maryland,5079,4713,9792,0,0,22,66,172,492,1196,2042,2684,3114,9792
22,Massachusetts,6566,6605,13171,0,0,0,38,94,300,1021,2195,3596,5916,13171
23,Michigan,8815,7473,16288,0,0,22,100,218,720,1856,3744,4634,4990,16288
24,Minnesota,3799,3528,7327,0,0,0,24,63,200,524,1203,2049,3255,7327
25,Mississippi,3830,3492,7322,0,0,16,63,152,412,1049,1888,2068,1673,7322
26,Missouri,5598,5078,10676,0,0,13,35,118,314,1099,2265,3079,3750,10676
27,Montana,890,704,1594,0,0,0,0,27,57,172,344,468,518,1594
28,Nebraska,1610,1210,2820,0,0,0,17,29,104,279,551,808,1025,2820
29,Nevada,3470,2077,5547,0,0,11,53,131,387,821,1453,1630,1059,5547
30,New Hampshire,652,639,1291,0,0,0,0,0,21,59,207,394,604,1291
31,New Jersey,12921,10706,23627,0,0,24,166,421,1241,3093,4859,6230,7588,23627
32,New Mexico,2191,1769,3960,0,0,12,81,144,288,622,926,991,895,3960
33,New York,12717,11680,24397,0,0,23,112,299,917,2574,4719,6560,9185,24397
34,New York City,16642,11839,28481,0,11,42,227,665,1789,4390,6912,7490,6950,28481
35,North Carolina,4605,4369,8974,0,0,10,53,138,394,962,2024,2580,2812,8974
36,North Dakota,935,746,1681,0,0,0,0,19,50,141,290,446,724,1681
37,Ohio,11382,10373,21755,0,0,14,66,196,573,1968,4482,6595,7855,21755
38,Oklahoma,4527,3774,8301,0,0,10,52,134,405,1038,2009,2364,2284,8301
39,Oregon,1261,1119,2380,0,0,0,10,36,92,251,427,709,851,2380
40,Pennsylvania,13651,13180,26831,0,0,27,97,220,761,2339,5162,7349,10874,26831
41,Rhode Island,1263,1354,2617,0,0,0,0,17,56,199,484,666,1185,2617
42,South Carolina,4594,3936,8530,0,0,12,44,134,351,1080,2142,2617,2146,8530
43,South Dakota,1084,931,2015,0,0,0,14,20,70,190,390,518,810,2015
44,Tennessee,6846,5638,12484,0,0,21,69,206,614,1618,3091,3755,3103,12484
45,Texas,30710,22348,53058,0,18,113,556,1458,3859,8513,13438,13782,11303,53058
46,Utah,1425,946,2371,0,0,0,27,62,148,282,552,647,645,2371
47,Vermont,114,117,231,0,0,0,0,0,0,14,32,71,104,231
48,Virginia,5436,5064,10500,0,0,13,47,134,430,1151,2255,2937,3531,10500
49,Washington,2793,2316,5109,0,0,12,19,79,207,520,1058,1433,1779,5109
50,West Virginia,1415,1266,2681,0,0,0,0,25,89,251,664,855,791,2681
51,Wisconsin,4280,3730,8010,0,0,0,36,73,241,649,1516,2321,3164,8010
52,Wyoming,323,303,626,0,0,0,0,0,24,61,137,191,199,626

In [50]:
for index, row in age_sex_df.iterrows():
    state = row[0]
    age_sex_df.loc[index,"State"] = us_state_abbrev[state]

In [51]:
age_sex_df

,State,Male COVID-19 Deaths,Female COVID-19 Deaths,All Sexes COVID-19 Deaths,Under 5 Years COVID-19 Deaths,5-14 Years COVID-19 Deaths,15-24 COVID-19 Deaths,25-34 Years COVID-19 Deaths,35-44 Years COVID-19 Deaths,45-54 Years COVID-19 Deaths,55-64 Years COVID-19 Deaths,65-74 Years COVID-19 Deaths,75-84 Years COVID-19 Deaths,85 Years and Over COVID-19 Deaths,All Ages COVID-19 Deaths
0,USA,308080,253514,561594,35,99,857,3798,9823,27482,69495,124326,155247,170365,561594
1,AL,5609,4866,10475,0,0,11,72,207,577,1456,2719,3022,2409,10475
2,AK,193,132,325,0,0,0,0,10,15,40,85,94,76,325
3,AZ,9177,6402,15579,0,0,44,181,401,989,2273,3716,4444,3520,15579
4,AR,3076,2842,5918,0,0,0,34,88,259,712,1334,1749,1735,5918
5,CA,37417,25931,63348,0,0,140,649,1655,4460,10044,14395,15586,16404,63348
6,CO,3613,2865,6478,0,0,18,33,91,292,637,1305,1827,2271,6478
7,CT,3894,4066,7960,0,0,0,24,60,224,709,1380,2108,3448,7960
8,DE,737,724,1461,0,0,0,0,0,60,157,279,430,509,1461
9,DC,803,592,1395,0,0,0,16,42,124,263,380,290,276,1395
10,FL,18602,14076,32678,0,0,48,200,520,1365,3772,7235,9919,9610,32678
11,GA,9141,7844,16985,0,0,32,136,344,955,2464,4276,4923,3847,16985
12,HI,285,178,463,0,0,0,0,13,27,78,112,95,129,463
13,ID,1195,849,2044,0,0,0,0,20,66,173,441,634,703,2044
14,IL,11534,9615,21149,0,0,34,151,365,1001,2347,4487,5635,7123,21149
15,IN,6547,6166,12713,0,0,10,37,133,369,1251,2591,3787,4530,12713
16,IA,3115,2853,5968,0,0,0,21,49,164,498,1014,1688,2529,5968
17,KS,2630,2226,4856,0,0,10,23,59,179,469,937,1380,1799,4856
18,KY,3590,3546,7136,0,0,0,19,74,239,787,1668,2119,2229,7136
19,LA,5069,4262,9331,0,0,18,67,177,485,1322,2370,2711,2174,9331
20,ME,429,456,885,0,0,0,0,0,21,61,141,289,362,885
21,MD,5079,4713,9792,0,0,22,66,172,492,1196,2042,2684,3114,9792
22,MA,6566,6605,13171,0,0,0,38,94,300,1021,2195,3596,5916,13171
23,MI,8815,7473,16288,0,0,22,100,218,720,1856,3744,4634,4990,16288
24,MN,3799,3528,7327,0,0,0,24,63,200,524,1203,2049,3255,7327
25,MS,3830,3492,7322,0,0,16,63,152,412,1049,1888,2068,1673,7322
26,MO,5598,5078,10676,0,0,13,35,118,314,1099,2265,3079,3750,10676
27,MT,890,704,1594,0,0,0,0,27,57,172,344,468,518,1594
28,NE,1610,1210,2820,0,0,0,17,29,104,279,551,808,1025,2820
29,NV,3470,2077,5547,0,0,11,53,131,387,821,1453,1630,1059,5547
30,NH,652,639,1291,0,0,0,0,0,21,59,207,394,604,1291
31,NJ,12921,10706,23627,0,0,24,166,421,1241,3093,4859,6230,7588,23627
32,NM,2191,1769,3960,0,0,12,81,144,288,622,926,991,895,3960
33,NY,12717,11680,24397,0,0,23,112,299,917,2574,4719,6560,9185,24397
34,NYC,16642,11839,28481,0,11,42,227,665,1789,4390,6912,7490,6950,28481
35,NC,4605,4369,8974,0,0,10,53,138,394,962,2024,2580,2812,8974
36,ND,935,746,1681,0,0,0,0,19,50,141,290,446,724,1681
37,OH,11382,10373,21755,0,0,14,66,196,573,1968,4482,6595,7855,21755
38,OK,4527,3774,8301,0,0,10,52,134,405,1038,2009,2364,2284,8301
39,OR,1261,1119,2380,0,0,0,10,36,92,251,427,709,851,2380
40,PA,13651,13180,26831,0,0,27,97,220,761,2339,5162,7349,10874,26831
41,RI,1263,1354,2617,0,0,0,0,17,56,199,484,666,1185,2617
42,SC,4594,3936,8530,0,0,12,44,134,351,1080,2142,2617,2146,8530
43,SD,1084,931,2015,0,0,0,14,20,70,190,390,518,810,2015
44,TN,6846,5638,12484,0,0,21,69,206,614,1618,3091,3755,3103,12484
45,TX,30710,22348,53058,0,18,113,556,1458,3859,8513,13438,13782,11303,53058
46,UT,1425,946,2371,0,0,0,27,62,148,282,552,647,645,2371
47,VT,114,117,231,0,0,0,0,0,0,14,32,71,104,231
48,VA,5436,5064,10500,0,0,13,47,134,430,1151,2255,2937,3531,10500
49,WA,2793,2316,5109,0,0,12,19,79,207,520,1058,1433,1779,5109
50,WV,1415,1266,2681,0,0,0,0,25,89,251,664,855,791,2681
51,WI,4280,3730,8010,0,0,0,36,73,241,649,1516,2321,3164,8010
52,WY,323,303,626,0,0,0,0,0,24,61,137,191,199,626

In [52]:
age_sex_df.to_csv("../data-file/total-age-sex-data.csv", index=False, header=True)

In [53]:
population_df = pd.read_csv("../data-file/Population_byCDCAgeGroup_byState.csv")

In [54]:
population_df

         CDC_AgeGroups  Population    State
0          15-24 years    635707.0  Alabama
1          25-34 years    647229.0  Alabama
2          35-44 years    593306.0  Alabama
3          45-54 years    616616.0  Alabama
4           5-14 years    608466.0  Alabama
..                 ...         ...      ...
545        65-74 years     60590.0  Wyoming
546        75-84 years     27598.0  Wyoming
547  85 years and over     10991.0  Wyoming
548              Total    578759.0  Wyoming
549      Under 5 years     34931.0  Wyoming

[550 rows x 3 columns]

In [55]:
for index, row in population_df.iterrows():
    state = row[2]
    population_df.loc[index,"State"] = us_state_abbrev[state]

In [56]:
population_df = population_df[['State', 'CDC_AgeGroups', 'Population']]

In [57]:

under5_pop = population_df.loc[population_df['CDC_AgeGroups']=="Under 5 years"]
years5_14_pop = population_df.loc[population_df['CDC_AgeGroups']=="5-14 years"]
years15_24_pop = population_df.loc[population_df['CDC_AgeGroups']=="15-24 years"]
years25_34_pop = population_df.loc[population_df['CDC_AgeGroups']=="25-34 years"]
years35_44_pop = population_df.loc[population_df['CDC_AgeGroups']=="35-44 years"]
years45_54_pop = population_df.loc[population_df['CDC_AgeGroups']=="45-54 years"]
years55_64_pop = population_df.loc[population_df['CDC_AgeGroups']=="55-64 years"]
years65_74_pop = population_df.loc[population_df['CDC_AgeGroups']=="65-74 years"]
years75_84_pop = population_df.loc[population_df['CDC_AgeGroups']=="75-84 years"]
years85_pop = population_df.loc[population_df['CDC_AgeGroups']=="85 years and over"]
all_ages_pop = population_df.loc[population_df['CDC_AgeGroups']=="Total"]

In [58]:
merged_pop = pd.merge(under5_pop, years5_14_pop, on ='State')
merged_pop = pd.merge(merged_pop, years15_24_pop, on='State')
merged_pop = merged_pop.rename(columns={
                                "Population_x":"Under 5 Years Population",
                                "Population_y":"5-14 Years Population",
                                "Population":"15-24 Years Population"
                                       })
del merged_pop['CDC_AgeGroups_x']
del merged_pop['CDC_AgeGroups_y']
del merged_pop['CDC_AgeGroups']
#merged_pop.head()

In [59]:
merged_pop = pd.merge(merged_pop, years25_34_pop, on ='State')
merged_pop = pd.merge(merged_pop, years35_44_pop, on='State')
merged_pop = pd.merge(merged_pop, years45_54_pop, on='State')
merged_pop = merged_pop.rename(columns={
                                "Population_x":"25-34 Years Population",
                                "Population_y":"35-44 Years Population",
                                "Population":"45-54 Years Population"
                                       })
del merged_pop['CDC_AgeGroups_x']
del merged_pop['CDC_AgeGroups_y']
del merged_pop['CDC_AgeGroups']
#merged_pop.head()

In [60]:
merged_pop = pd.merge(merged_pop, years55_64_pop, on ='State')
merged_pop = pd.merge(merged_pop, years65_74_pop, on='State')
merged_pop = pd.merge(merged_pop, years75_84_pop, on='State')
merged_pop = merged_pop.rename(columns={
                                "Population_x":"55-64 Years Population",
                                "Population_y":"65-74 Years Population",
                                "Population":"75-84 Years Population"
                                       })
del merged_pop['CDC_AgeGroups_x']
del merged_pop['CDC_AgeGroups_y']
del merged_pop['CDC_AgeGroups']
merged_pop.head()

,State,Under 5 Years Population,5-14 Years Population,15-24 Years Population,25-34 Years Population,35-44 Years Population,45-54 Years Population,55-64 Years Population,65-74 Years Population,75-84 Years Population
0,AL,294357.0,608466.0,635707.0,647229.0,593306.0,616616.0,657667.0,501447.0,256847.0
1,AK,51080.0,100662.0,96393.0,117588.0,95765.0,85130.0,93339.0,61300.0,23107.0
2,AZ,429788.0,930745.0,973547.0,1007093.0,896027.0,852090.0,880794.0,751699.0,411197.0
3,AR,188464.0,393213.0,397538.0,396868.0,370263.0,361582.0,385994.0,302829.0,161141.0
4,CA,2383716.0,5007987.0,5180973.0,6052952.0,5282100.0,4979745.0,4786635.0,3386670.0,1701599.0

In [61]:
merged_pop = pd.merge(merged_pop, years85_pop, on ='State')
merged_pop = pd.merge(merged_pop, all_ages_pop, on ='State')


merged_pop = merged_pop.rename(columns={
                                "Population_x":"85 Years and Over Population",
                                "Population_y":"Total Population"
                                       })

del merged_pop['CDC_AgeGroups_x']
del merged_pop['CDC_AgeGroups_y']
merged_pop.head()

,State,Under 5 Years Population,5-14 Years Population,15-24 Years Population,25-34 Years Population,35-44 Years Population,45-54 Years Population,55-64 Years Population,65-74 Years Population,75-84 Years Population,85 Years and Over Population,Total Population
0,AL,294357.0,608466.0,635707.0,647229.0,593306.0,616616.0,657667.0,501447.0,256847.0,91543.0,4903185.0
1,AK,51080.0,100662.0,96393.0,117588.0,95765.0,85130.0,93339.0,61300.0,23107.0,7181.0,731545.0
2,AZ,429788.0,930745.0,973547.0,1007093.0,896027.0,852090.0,880794.0,751699.0,411197.0,145737.0,7278717.0
3,AR,188464.0,393213.0,397538.0,396868.0,370263.0,361582.0,385994.0,302829.0,161141.0,59912.0,3017804.0
4,CA,2383716.0,5007987.0,5180973.0,6052952.0,5282100.0,4979745.0,4786635.0,3386670.0,1701599.0,749846.0,39512223.0

In [62]:
merged_pop['Total Population'].sum()

327533774.0

In [63]:
new_row_pop = {'State':'USA', 'Under 5 Years Population':19531315.0, 
              '5-14 Years Population':40926765.0, 
              '15-24 Years Population':42599542.0,
              '25-34 Years Population':45775780.0,
              '35-44 Years Population':41550175.0,
              '45-54 Years Population':40800616.0,
              '55-64 Years Population':42378661.0,
              '65-74 Years Population':31433214.0,
              '75-84 Years Population':15944990.0,
              '85 Years and Over Population':6592716.0,
                'Total Population': 327533774.0
              
             }
#append row to the dataframe
merged_pop = merged_pop.append(new_row_pop, ignore_index=True)

In [68]:
merged_pop.head()

,State,Under 5 Years Population,5-14 Years Population,15-24 Years Population,25-34 Years Population,35-44 Years Population,45-54 Years Population,55-64 Years Population,65-74 Years Population,75-84 Years Population,85 Years and Over Population,Total Population
0,AL,294357.0,608466.0,635707.0,647229.0,593306.0,616616.0,657667.0,501447.0,256847.0,91543.0,4903185.0
1,AK,51080.0,100662.0,96393.0,117588.0,95765.0,85130.0,93339.0,61300.0,23107.0,7181.0,731545.0
2,AZ,429788.0,930745.0,973547.0,1007093.0,896027.0,852090.0,880794.0,751699.0,411197.0,145737.0,7278717.0
3,AR,188464.0,393213.0,397538.0,396868.0,370263.0,361582.0,385994.0,302829.0,161141.0,59912.0,3017804.0
4,CA,2383716.0,5007987.0,5180973.0,6052952.0,5282100.0,4979745.0,4786635.0,3386670.0,1701599.0,749846.0,39512223.0

In [65]:
new_dfff = pd.merge(age_sex_df, merged_pop, on='State')

In [66]:
new_dfff

,State,Male COVID-19 Deaths,Female COVID-19 Deaths,All Sexes COVID-19 Deaths,Under 5 Years COVID-19 Deaths,5-14 Years COVID-19 Deaths,15-24 COVID-19 Deaths,25-34 Years COVID-19 Deaths,35-44 Years COVID-19 Deaths,45-54 Years COVID-19 Deaths,...,5-14 Years Population,15-24 Years Population,25-34 Years Population,35-44 Years Population,45-54 Years Population,55-64 Years Population,65-74 Years Population,75-84 Years Population,85 Years and Over Population,Total Population
0,USA,308080,253514,561594,35,99,857,3798,9823,27482,...,40926765.0,42599542.0,45775780.0,41550175.0,40800616.0,42378661.0,31433214.0,15944990.0,6592716.0,327533774.0
1,AL,5609,4866,10475,0,0,11,72,207,577,...,608466.0,635707.0,647229.0,593306.0,616616.0,657667.0,501447.0,256847.0,91543.0,4903185.0
2,AK,193,132,325,0,0,0,0,10,15,...,100662.0,96393.0,117588.0,95765.0,85130.0,93339.0,61300.0,23107.0,7181.0,731545.0
3,AZ,9177,6402,15579,0,0,44,181,401,989,...,930745.0,973547.0,1007093.0,896027.0,852090.0,880794.0,751699.0,411197.0,145737.0,7278717.0
4,AR,3076,2842,5918,0,0,0,34,88,259,...,393213.0,397538.0,396868.0,370263.0,361582.0,385994.0,302829.0,161141.0,59912.0,3017804.0
5,CA,37417,25931,63348,0,0,140,649,1655,4460,...,5007987.0,5180973.0,6052952.0,5282100.0,4979745.0,4786635.0,3386670.0,1701599.0,749846.0,39512223.0
6,CO,3613,2865,6478,0,0,18,33,91,292,...,710322.0,743213.0,913354.0,798071.0,706150.0,713013.0,522131.0,230360.0,89921.0,5758736.0
7,CT,3894,4066,7960,0,0,0,24,60,224,...,409000.0,478803.0,448029.0,427141.0,476905.0,513455.0,352819.0,186095.0,91330.0,3565287.0
8,DE,737,724,1461,0,0,0,0,0,60,...,113975.0,117372.0,129080.0,113101.0,118881.0,137730.0,112858.0,55794.0,20254.0,973764.0
9,FL,18602,14076,32678,0,0,48,200,520,1365,...,2372397.0,2460558.0,2799422.0,2600531.0,2709395.0,2898355.0,2465369.0,1450514.0,581454.0,21477737.0
10,GA,9141,7844,16985,0,0,32,136,344,955,...,1413003.0,1449500.0,1493261.0,1380954.0,1399652.0,1307533.0,926001.0,439884.0,151069.0,10617423.0
11,HI,285,178,463,0,0,0,0,13,27,...,167586.0,165937.0,199995.0,181803.0,167747.0,179137.0,152092.0,74688.0,41668.0,1415872.0
12,ID,1195,849,2044,0,0,0,0,20,66,...,254788.0,241619.0,236490.0,227172.0,201766.0,218360.0,175866.0,85030.0,29774.0,1787065.0
13,IL,11534,9615,21149,0,0,34,151,365,1001,...,1575745.0,1652607.0,1758096.0,1637135.0,1599789.0,1658283.0,1176033.0,600230.0,266969.0,12671821.0
14,IN,6547,6166,12713,0,0,10,37,133,369,...,878981.0,930398.0,890687.0,828959.0,824029.0,875082.0,636737.0,317937.0,131069.0,6732219.0
15,IA,3115,2853,5968,0,0,0,21,49,164,...,408495.0,436415.0,398150.0,385215.0,362509.0,415696.0,311447.0,162833.0,78674.0,3155070.0
16,KS,2630,2226,4856,0,0,10,23,59,179,...,396266.0,412813.0,382922.0,361029.0,327961.0,371505.0,272236.0,137573.0,65678.0,2913314.0
17,KY,3590,3546,7136,0,0,0,19,74,239,...,560417.0,583798.0,587380.0,550953.0,563662.0,598289.0,447876.0,220820.0,81868.0,4467673.0
18,LA,5069,4262,9331,0,0,18,67,177,485,...,607936.0,597268.0,658227.0,589854.0,548348.0,604670.0,442534.0,216431.0,82057.0,4648794.0
19,ME,429,456,885,0,0,0,0,0,21,...,140100.0,152137.0,162808.0,154075.0,174730.0,211560.0,169079.0,82386.0,33800.0,1344212.0
20,MD,5079,4713,9792,0,0,22,66,172,492,...,747869.0,751030.0,829249.0,782213.0,795467.0,818519.0,561582.0,278421.0,119393.0,6045680.0
21,MA,6566,6605,13171,0,0,0,38,94,300,...,751035.0,935124.0,994454.0,848373.0,893633.0,943190.0,673305.0,336504.0,159523.0,6892503.0
22,MI,8815,7473,16288,0,0,22,100,218,720,...,1196689.0,1326325.0,1311614.0,1166172.0,1254679.0,1399535.0,1037580.0,514685.0,213136.0,9986857.0
23,MN,3799,3528,7327,0,0,0,24,63,200,...,732593.0,717060.0,762616.0,725577.0,673361.0,756421.0,531059.0,266713.0,122610.0,5639632.0
24,MS,3830,3492,7322,0,0,16,63,152,412,...,395659.0,402867.0,393747.0,365754.0,362040.0,385911.0,288955.0,145440.0,52298.0,2976149.0
25,MO,5598,5078,10676,0,0,13,35,118,314,...,769540.0,794469.0,825887.0,753739.0,732944.0,830732.0,610165.0,318341.0,133531.0,6137428.0
26,MT,890,704,1594,0,0,0,0,27,57,...,129305.0,135891.0,138386.0,129795.0,117800.0,150008.0,124631.0,58951.0,22855.0,1068778.0
27,NE,1610,1210,2820,0,0,0,17,29,104,...,266296.0,268196.0,255338.0,243139.0,215808.0,242293.0,178908.0,90492.0,43058.0,1934408.0
28,NV,3470,2077,5547,0,0,11,53,131,387,...,392066.0,365218.0,453116.0,410505.0,394228.0,383476.0,303363.0,147793.0,44816.0,3080156.0
29,NH,652,639,1291,0,0,0,0,0,21,...,143449.0,171874.0,172816.0,156500.0,183273.0,214314.0,152669.0,70954.0,30241.0,1359711.0
30,NJ,12921,10706,23627,0,0,24,166,421,1241,...,1083967.0,1093555.0,1152278.0,1137693.0,1200823.0,1223649.0,832866.0,439565.0,203104.0,8882190.0
31,NM,2191,1769,3960,0,0,12,81,144,288,...,272268.0,278459.0,284087.0,254846.0,235656.0,272921.0,224483.0,111714.0,41409.0,2096829.0
32,NY,12717,11680,24397,0,0,23,112,299,917,...,2218596.0,2445246.0,2867651.0,2429961.0,2471804.0,2597156.0,1859922.0,976223.0,460001.0,19453561.0
33,NC,4605,4369,8974,0,0,10,53,138,394,...,1294472.0,1387060.0,1416069.0,1303427.0,1364067.0,1362125.0,1046508.0,515192.0,189394.0,10488084.0
34,ND,935,746,1681,0,0,0,0,19,50,...,99495.0,109397.0,114571.0,92576.0,78199.0,93878.0,66664.0,34368.0,18813.0,762062.0
35,OH,11382,10373,21755,0,0,14,66,196,573,...,1440279.0,1507223.0,1554378.0,1397808.0,1447581.0,1604683.0,1189243.0,600805.0,256272.0,11689100.0
36,OK,4527,3774,8301,0,0,10,52,134,405,...,538048.0,539562.0,543593.0,497873.0,453536.0,493694.0,368050.0,192919.0,74163.0,3956971.0
37,OR,1261,1119,2380,0,0,0,10,36,92,...,491536.0,510237.0,604284.0,568712.0,510127.0,538950.0,464598.0,216944.0,84538.0,4217737.0
38,PA,13651,13180,26831,0,0,27,97,220,761,...,1475640.0,1603208.0,1709136.0,1513739.0,1604097.0,1804883.0,1354093.0,707157.0,332112.0,12801989.0
39,RI,1263,1354,2617,0,0,0,0,17,56,...,112868.0,146657.0,148213.0,125335.0,135112.0,149609.0,106159.0,53375.0,27512.0,1059361.0
40,SC,4594,3936,8530,0,0,12,44,134,351,...,630716.0,655402.0,682854.0,620504.0,640607.0,689144.0,570600.0,275013.0,91410.0,5148714.0
41,SD,1084,931,2015,0,0,0,14,20,70,...,121666.0,116664.0,115064.0,105864.0,94865.0,117498.0,89216.0,41670.0,20985.0,884659.0
42,TN,6846,5638,12484,0,0,21,69,206,614,...,844681.0,869205.0,949656.0,847658.0,871279.0,894697.0,681396.0,340228.0,121769.0,6829174.0
43,TX,30710,22348,53058,0,18,113,556,1458,3859,...,4166702.0,4055517.0,4276763.0,3942439.0,3554098.0,3275242.0,2245028.0,1080742.0,408459.0,28995881.0
44,UT,1425,946,2371,0,0,0,27,62,148,...,526961.0,518499.0,471806.0,443453.0,328430.0,303134.0,219466.0,107832.0,38574.0,3205958.0
45,VT,114,117,231,0,0,0,0,0,0,...,64156.0,86646.0,74408.0,71267.0,78051.0,95379.0,75206.0,35396.0,14437.0,623989.0
46,VA,5436,5064,10500,0,0,13,47,134,430,...,1040121.0,1113447.0,1190381.0,1112496.0,1100274.0,1114417.0,802291.0,402130.0,154485.0,8535519.0
47,WA,2793,2316,5109,0,0,12,19,79,207,...,935771.0,929322.0,1172075.0,1028141.0,923777.0,959608.0,735524.0,339621.0,134578.0,7614893.0
48,WV,1415,1266,2681,0,0,0,0,25,89,...,203472.0,216856.0,214004.0,213802.0,229251.0,254726.0,217323.0,109552.0,40136.0,1792147.0
49,WI,4280,3730,8010,0,0,0,36,73,241,...,714031.0,768140.0,741222.0,713075.0,715209.0,823018.0,594748.0,294186.0,128309.0,5822434.0
50,WY,323,303,626,0,0,0,0,0,24,...,76734.0,74590.0,76433.0,74285.0,63853.0,78754.0,60590.0,27598.0,10991.0,578759.0

In [67]:
new_dfff = new_dfff[['Male COVID-19 Deaths', 'Female COVID-19 Deaths', 'All Sexes COVID-19 Deaths',
                     'Under 5 Years COVID-19 Deaths', 'Under 5 Years Population',
                    '5-14 Years COVID-19 Deaths', '5-14 Years Population',
                    '15-24 COVID-19 Deaths', ]]